[2021-03-24 20:43] JonSingleton opened #1 "ppsapp patch request"
Currently gathering the necessary tools to patch this myself with your guide (https://github.com/guino/ppsapp-rtsp)

On the off-chance someone is able to patch it while I'm learning to do it and has it done before I'm finished (unlikely, but I mean you never know, right?) I wanted to post the files here.

:8090/devices/deviceinfo output:
{
  "devname": "Smart Home Camera",
  "model": "Mini 11S",

[2021-03-24 21:05] guino commented on #1
The tools are the same but the way to patch this version is actually described here : https://github.com/guino/Merkury1080P#customization

I can probably patch it for you today.

[2021-03-24 21:25] guino commented on #1
snap/mjpeg address: 037b3ac
play.cgi address: 037bb1c

[2021-03-24 21:40] guino commented on #1
Here's the patch: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-806203138

No I hope you didn't screw something up on your flash by running 4.0.6 on a 4.0.2 firmware -- I would start the board without a ppsapp file in the SD card first to see if it works normally (with the phone app) then once you verified everything is in working order you should be able to run your patched ppsapp.

[2021-03-25 00:59] JonSingleton commented on #1
You sir, are a gentleman and a scholar. I was in the midst of setting up ghidra and realized the lawn wasn't going to mow itself. I can verify that the file you provided was successful in opening up RTSP. Thank you very much for this.

_regarding testing the incorrect firmware, I took a calculated risk. One that really wouldn't have cost me if the camera had been broken - still within the return p

[2021-03-25 01:02] guino commented on #1
@JonSingleton I am glad things worked out -thanks for reporting back!

[2021-05-12 16:38] falkien opened #2 "Problems with initial rooting."
I have tried this 20 times. I have the 1080p version and I have followed the instructions. The one thing that keeps happening is the part that is supposed to say ip=30 I get an address from my octoptint server, even if it's off.

Results from /proc/cmdline
setenv bootargs mem=64M console=ttySAK0,115200n8 loglevel=10
mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cf

[2021-05-12 16:56] guino commented on #2
@falkien that "ip=192.168.1.99" is not representative of anything on your network -- it is a "fixed" value defined in the firmware that honestly means nothing unless your device has an ethernet port (which I am pretty sure it does not).

Your firmware version has been patched before so we know the process **can** work on it.

If you're following the steps correctly and you're not getting the "- ip

[2021-05-12 17:51] falkien commented on #2
I have tried 4 different cards. All formatted fat32. I have not tried it on a Linux box. I also only have 8gb cards. I will try the Linux format. if that doesn't work. I will get a 32gb card. The reset does work properly.

[2021-05-13 21:34] falkien commented on #2
Ok, I got another SDcard and I am getting the same results. After going through this a few times I was going to attach the zip of the SD card. That is what caused me to pause before I did it. You said to post a ZIP of my SDCard except for the SDT folder/directory. I don't have a SDT folder/directory. Now I feel like I am missing a vital step. I have attached the ZIP file JIC. I did remove the ppsF

[2021-05-13 21:54] guino commented on #2
@falkien Here's what's wrong:
-ppsMmcTool.txt downloaded incorrectly has HTML data in it instead of correct contents.Please download the file correctly (do not create it from scratch as you may create it with an incorrect format) -- you can use this link to donwload it (right-click and Save As...): https://raw.githubusercontent.com/guino/Merkury1080P/main/mmc/ppsMmcTool.txt
-initrun.sh downloaded

[2021-05-13 22:28] falkien commented on #2
@guino Successfully rooted! Thanks! I am now at step 8 (RTSP) and there is no matching MD5 or Version on the ppsapp-rtsp page. Looks like the highest patch is for **ppstrong-a3-tuya2_merkury-4.0.2.20200929** Mine is ppstrong-a3-tuya2_merkury-4.0.6.20210207. My CRC32 is a221d69c and my MD5 is e5e559715d01cf8060d56ba97ce4a79c. Do I need to go through the manual way with Ghidra and a HEX editor? I wa

[2021-05-14 00:27] guino commented on #2
@falkien please look at the list closer and press the ‘load more’ to load it completely. https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-781001017

[2021-05-14 01:02] falkien commented on #2
@guino WOW, I feel like a turd at this point. I followed the instructions and added the modified ppsapp file to the root of the SDCard and booted. I got the 2 beeps per the instructions. Now no matter what URL I use in VLC, I can't get the feed to come up.

rtsp://admin:admin@192.168.1.158:8554//Streaming/Channels/102
rtsp://admin:admin@192.168.1.158:8554//Streaming/Channels/101
rtsp://admin:admin

[2021-05-14 02:05] guino commented on #2
@falkien Can you confirm that you previously setup the camera with the app and that you can view the video feed in the app after patching?

did you try mjpeg/snap to see if it works?

I realize the instructions show an extra “/“ in the URL that should not be there I have updated the instructions to remove it - can you try without the extra “/“?

If you can please try any phone app that supports RT

[2021-06-07 09:00] Woolfy025 opened #3 "Unable to Root the camera"
I picked up 2 of the 1080P Merkury cameras and haven't been able to get this hack setup. Both Tuya and Geeni apps do not show the current firmware. It only asks me to update to version 2.10.1 when I open the stream.

Tried 2 different SD cards with the same results.  8GB SD card is formatted FAT32 and here are the files in the root directory:

busybox
env
initrun.sh
ppsFactoryTool
ppsMmcTool

This

[2021-06-07 14:49] guino commented on #3
@Woolfy025 you should try just ppsFactoryTool.txt to see if you can at least get the URLs working. Be sure to try the URLs with port 8090 (the default is 80 when not specified) and you should also try admin:admin for user:password (as well as the admin:056565099).

The only way to know the firmware version is the /devices/deviceinfo URL or using the app — in your case it seems the apps are asking

[2021-06-08 08:30] Woolfy025 commented on #3
So, I tried just as you described and it still wasn't able to connect. I saved all the links and tried them but nothing happened. Are most of the links supposed to redirect? This one  http://admin:056565099@IP:8090/devices/deviceinfo redirects to:

http://ip:8090/devices/deviceinfo

Every combination of username password I tried for each link which was everyone I could find on both the 720p / 1080

[2021-06-08 18:10] guino commented on #3
@Woolfy025 the ppsFactoryTool.txt file format seems correct. With the file in the SD card and version 2.10.x you should be able to access the URLs in port 80 like  http://admin:056565099@IP/devices/deviceinfo  -- please notice that the admin:056565099 part is the user+password to login in the URL, it is normal for the user:password to not show on the address bar (it's not a redirect) but I have he

[2021-06-09 10:42] Woolfy025 commented on #3
I have tried both Edge browser (With extensions) and on plain Google Chrome. I don't have the cameras connected  in my house at the moment but I think the main error on Edge says:

"Hmmm… can't reach this page Check if there is a typo in ip."

Chrome has this error:

This site can’t be reached / check if there is a typo in ip. If spelling is correct, try running Windows Network Diagnostics. DNS_PR

[2021-06-09 10:53] guino commented on #3
@Woolfy025 try firefox but mainly double check the IP address you are using — it is not the ip displayed in the app and you probably have to find the ip on your router (and it may be changing if your device is off for a little bit).

[2021-06-10 02:44] Woolfy025 commented on #3
I tried all those things and still nothing. The things that I do notice though is once I put the modified SD card in, the whole device goes offline from my network. When I setup the camera normally I get 192.168.1.9 as an IP address. I turn off the camera, pull the card and plug it back in, then the camera flashes blue and then goes solid blue.

From there I can access the camera from the app and

[2021-06-10 02:54] guino commented on #3
@Woolfy025 when you insert a SD card with ppsFactoryTool.txt the device disconnects from the wifi and connects to whatever wifi specified in ppsFactoryTool.txt - by your description it seems like you may just have the wrong wifi name or password in the file (or it’s misspelled).

The firmware version is only dependent on brand of the device as the manufacturer defines which firmware to be used by

[2021-06-10 05:46] Woolfy025 commented on #3
It's working! I was about ready to give up, and decided to insert the SD card WHILE the camera was on, and previously setup to my phone.(Without resetting or anything). The first command I tried was this one:

http://admin:056565099@192.168.1.9/proc/cmdline

I login and it outputs this info:

mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys

[2021-06-10 06:21] Woolfy025 commented on #3
I'm missing the " ip=30" line it seems so, I'll need to figure out what to do next. I have tried 2 different SD cards though. I'll check the other threads and try different things. I did get another output file from one of the commands:

devname | "Smart Home Camera"
model | "Mini 11S"
serialno | "059457605"
softwareversion | "2.10.1"
hardwareversion | "M11S_H1_V10_F23"
firmwareversion | "ppstrong

[2021-06-10 16:25] guino commented on #3
@Woolfy025 the firmware ppstrong-c51-tuya2_geeni-2.10.1.20210207 already has an existing patch -- so we know it CAN work on that firmware/hardware/device. You may need to try to partition+format the SD card in linux (some have reported it only working after that) or you may need to try other SD cards. At the very least double check it is formatted as FAT32 (and not exFat or NTFS) or you can try to

[2021-06-11 03:00] Woolfy025 commented on #3
Well....I give up. I tried 4 different SD cards between formatting it in Windows / Ubuntu and on the Camera. Nothing works. Was nice I got this far but it doesn't look like it's gonna work. Hopefully this thread helps someone else. Thank you for the help.

[2021-06-11 03:00] #3 closed

[2021-07-17 00:08] braidenwhite opened #4 "Rooting the device, help!!!"
Please help @guino, I'm having trouble getting my camera rooted. Here are the step I've done.

1. Using GParted on Ubuntu, format the card to FAT32 and place files onto the root of the card
2. Insert the card into the camera, while powered off.
3. Hold down the reset button (which works because I have tried just resetting it), and power on for 5+/- seconds.
4. Test by http://admin:056565099@IP/pro

[2021-07-19 23:40] BrianFenn commented on #4
I am having the same issue with 2.10.1.

Perhaps the Load Address isn't 81808000 or 81c08000 on Firmware version 2.10.1.

I tried to getting connected to the UART Pads to monitor the Kernel boot information like mentioned in this article, but instead of using a Raspberry Pi, I used an Arduino, but I could not monitor the Kernel's booting information.

Did you have any updates?

[2021-07-20 01:11] braidenwhite commented on #4
No I've tried what I know to. Hoping someone will be able to help. I really would like to have this working with Hombridge/homekit...

[2021-07-20 15:12] guino commented on #4
@braidenwhite your files seem ok but we have had some people not being able to install the hack due to the SD card formatting issues. Please try the following:
1-Erase the files from the SD card
2-Reboot device (so it starts clean without the files)
3-Open the PHONE APP, go into settings and tell it to format the SD card from the APP
4-Take formatted SD card to the computer and copy the files back

[2021-07-20 18:25] braidenwhite commented on #4
@guino Unfortunately using different SD card and formatting via the steps listed. I'm still not able to root the cameral. Hopefully @BrianFenn will be able to help get the information you need. I don't have anyway to use UART.

[2021-07-21 20:35] BrianFenn commented on #4
Thanks, I will work on a sketch to access UART tonight.

Sent from the all new AOL app for Android

  On Tue, Jul 20, 2021 at 11:25 AM, ***@***.***> wrote:

@guino Unfortunately using different SD card and formatting via the steps listed. I'm still not able to root the cameral. Hopefully @BrianFenn will be able to help get the information you need. I don't have anyway to use UART.

—
You are recei

[2021-07-27 02:58] holtek86 opened #5 "Hooray, bricked my camera!"
I have a  Mini 11S camera hardware version M11S_A2_V10_F37 with ppstrong-a3-tuya2_merkury-4.0.6.20210207 firmware that I have successfully rooted and then patched ppsapp using the appropriate file from https://www.marcrobledo.com/RomPatcher.js/
The camera apparently connects up to my network but I can;'t get a picture off of it using any of the URL's provided, nor will the app find the camera anym

[2021-07-27 04:19] guino commented on #5
If you used the process from https://github.com/guino/BazzDoorbell/issues/13 (the recommended method) then all you have to do is boot without a SD card inserted and it should boot with the stock firmware .

if the camera doesn’t boot without a SD card then chances are you have a hardware issue unrelated to the root process (unless you ran the wrong version of ppsapp which could potentially mess wi

[2021-07-27 06:18] tcass1977 commented on #4
I found that using fdisk as opposed to gparted gave me a working SD card.  Something I believe in the utilities use of MBR or GPT partition schemes.  Maybe this will help.

[2021-07-27 15:41] guino commented on #5
@holtek86 I confused the device you are using, on this device you should just be able to boot without a SD card (without the hack), so if you camera isn't starting without a SD card you likely have a hardware issue (unless you mixed ppsapp versions which can create permanent 'damage' on the settings).

[2021-07-27 18:28] holtek86 commented on #5
It won't even boot without the SD card, just hangs at blinking red status light. With the card, it comes up to a solid blue status and I can get to the command line and status pages and verify that it's hacked. I can easily see how ppsapp could have been patched incorrectly and I don't know how to even tell or revert the camera back to factory default. I did buy another one but I really don't want

[2021-07-27 21:17] guino commented on #5
@holtek86 can you try booting with the SD card but without ppsFactoryTool.txt ? If you can post your initrun.sh and your /proc/cmdline it would be helpful for me to know there's nothing mismatched with the hack. It seems odd that the camera boots (to some extent) with the SD card but not without it (unless you used the hack from https://github.com/guino/BazzDoorbell/issues/2 which was not meant fo

[2021-07-28 00:41] holtek86 commented on #5
OK, it occurred to me that when I was trying to boot the camera without the sd card the flashing red light meant that it lost its registration with the mothership. I went back into the app and re-added it and it worked again.

So, let's try this again

I Followed the instructions exactly, confirmed it was hacked, tried to patch ppsapp using the online rom patcher. This time it goes into an endless

[2021-07-28 02:19] holtek86 commented on #5
mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=30;/mnt/mmc01/initrun.sh)&:::::;date>/tmp/hack;(sleep

[2021-07-28 02:44] guino commented on #5
@holtek86 try just placing the ORIGINAL ppsapp (no patching) in the root of SD card. If it boot loops with it there but works fine without ppsapp on the root of SD card then you may need to follow Dan’s extra steps described here: https://github.com/DanTLehman/orion_sc008ha

If it works fine with the original ppsapp on the root of the SD card then something must be wrong with the patched ppsapp (b

[2021-07-28 15:58] ranjowd opened #6 "New supported device: LSC Smart Home Camera "Mini 16S""
Got ONVIF working on a Merkury1080-ish device with firmware 4.0.6 followed by the instructions on https://github.com/guino/Merkury1080P (modified the 3 instructions) allthough I didn't got the RTSP port getting visible but I'm already happy with ONVIF.

{
	"devname": "Smart Home Camera",
	"model": "Mini 16S",
	"serialno": "100361201",
	"softwareversion": "4.0.6",
	"hardwareversion": "M16S_A2_V10_F

[2021-07-28 16:03] guino commented on #6
@ranjowd nice work! I'll add it to the list. These 4.0.6 versions don't seem to have the old RTSP code -- only ONVIF (which has a RTSP server as part of it using rtsp://IP:8554//Streaming/Channels/101 URL.

[2021-07-28 16:06] guino commented on #6
@ranjowd the patch for this version was already posted on the list 2 days ago maybe you didn't see it or did you try it and it didn't work ?

[2021-07-28 17:31] ranjowd commented on #6
Oops, I was working on this 2 days ago and realised today that I wanted to contribute the patch to others. The patch wasn't on the list when I was looking for it. We were probaly making the patch at the exact same moment :)
Still it was really fun to do, it was my first try to decompile a binary file and using a hex editor. Thanks to your explanation it wasn't too difficult. Allthough it would be

[2021-07-28 17:31] #6 closed

[2021-08-07 23:01] braidenwhite commented on #4
Thanks for the tip, but unfortunately this didn't help. 😭

[2021-08-25 14:11] guino commented on #6
@gielie post a zip of you SD card files without the SDT directory and I can review. The patch for this ppsapp is posted in https://github.com/guino/ppsapp-rtsp/issues/1

if anything is being deleted from the SD card you should check how much space is left in the SD card - hopefully should be at least 2GB. There are reports that a bad format/partition of the SD card may cause it to be reformatted o

[2021-08-27 23:17] guino commented on #6
@gielie
Do any FILES (not folders) get deleted?
What is the size of the SD card?

[2021-09-03 18:36] nerdtool opened #7 "Low FPS rate on mjpeg streaming"
Hi, I've used your superb method to hack both the 720p and 1080p Merkury/Geeni cameras with great success. I can now access them through my Blue Iris and iSpy Agent DVR installations.  However, I find that I cannot get faster than 6 FPS from these hacked cams.  If I revert back to the Geeni / Tuya native Android apps and register with those, the speed is much faster but not accessible to my DVR so

[2021-09-05 12:48] guino commented on #7
What connection method are you using with the camera? RTSP with UDP or TCP ? ONVIF?

I would suggest you check what kind of FPS you get on VLC first to compare - I believe my devices give 15FPS and the recordings (files) generated reflect that. You could have some sort of network congestion causing slowness on the stream too (my 2.4ghz wifi is heavily congested and sometimes that causes my stream

[2021-09-15 11:43] gielie commented on #6
@guino
left it alone for a while;
I use a 16 gb SD card (tried a new one, same result) and any extra folder gets deleted, no files only folders.
so for example if I create a folder named test, it gets deleted. If I create a bogus file, it stays on the card.

i have no idea what is happening.

[2021-09-15 14:44] guino commented on #6
@gielie I have never seen that before. I have only seen ppsapp delete anything (files/folders) when the SD card is full, so unless there's some formatting issue with the SD cards you're using I'd expect it to leave everything along until the card is full. Have you tried partition+formatting the SD card from a computer (ie windows, linux, mac) and seeing if the device leaves the folders alone?

[2021-09-16 06:12] gielie commented on #6
I’m sorry guys, im a bit of a dumb f*, found out the stupid error on my side. On the part where I have changed the snap.cgi I did not leave out the 0x in the code. I did now and everything works great, thanks a lot and sorry I’ve wasted your time on this.

[2021-09-16 13:15] guino commented on #6
@gielie glad it’s working and thanks for pointing out the problem so others can pay attention to that.

[2021-09-21 18:02] gielie opened #8 "change in ppsapp after reinstall"
after my system crashed and my sd card got wiped I tried to do the hack all over again without any luck.
The problem I notices is my ppsapp MD5 checksum changed, does this mean I have a different ppsapp file?

device info
`{"devname":"Smart Home Camera",
"model":"Mini16S",
"serialno":"100142661",
"softwareversion":"4.0.6",
"hardwareversion":"M16S_A2_V10_F37",
"firmwareversion":"ppstrong-a3-tuya2_l

[2021-09-21 18:10] #8 closed

[2021-09-21 18:12] guino commented on #8
Let me know if you closed this by accident and you still need help (by re-opening the issue)

[2021-09-21 18:37] gielie commented on #8
im a Mac user and for some reason I get different results between Mac and pc, I can't handle a pc. but I closed this on purpose, I need to figure it out bij myself. thanks for the concern.

[2021-09-23 08:19] williamkennyAK opened #9 "Patch Request"
Here's the output of deviceinfo:

{"devname":"Smart Home Camera","model":"Bullet 4S","serialno":"101088550","softwareversion":"4.0.6","hardwareversion":"B4S_V10_A2_2063","firmwareversion":"ppstrong-a3-tuya2_merkury-4.0.6.20210310","identity":"M3R0019H5701608572","authkey":"LB7x0ANcVo7AEwEA1JqPr8KzUP44V2sv","deviceid":"pp0196ff4a66aeecd128","pid":"aaa","WiFi MAC":"84:7a:b6:87:67:35","ETH MAC":"00:0

[2021-09-23 19:26] williamkennyAK commented on #9
I'm going to self-close this...  Turns out this version already supports ONVIF out of the box.  No need to patch ppsapp, just enable onvif_enable=1 in tuya_config.json.

[2021-09-23 19:26] #9 closed

[2021-09-23 19:28] williamkennyAK commented on #8
@gielie check out https://github.com/guino/Merkury1080P/issues/9
I found that I was able to do the hack and just enable onvif in the tuya_config.json file without patching ppsapp in 4.0.6.

[2021-09-24 00:09] williamkennyAK opened #10 "mjpeg and snap not working"
I tried the instructions to find pps_media_md_get_pic in the ppsapp, however, there IS NO REFERENCE.

the closest I can find is this:
        000ff918 00 70 8d e5     str        r7=>s_httpc_get_pic_00275b00,[sp,#0x0]=>local_40 = "httpc_get_pic"

The funtion associated with it is as follows:

int FUN_000ff858(int param_1,undefined4 param_2)

{
  int iVar1;
  int iVar2;
  int iVar3;
  undefined4 loc

[2021-09-24 07:39] williamkennyAK commented on #9
Confirmed on a second camera.

To recreate, I followed all the steps until patching ppsapp then did the following:

1) telnet into camera
2) modify /home/cfg/tuya_config.json
    (a) change onvif_enable=0 to onvif_enable=1
    (b) change onvif_pwd to the password you wish (plaintext)
3) run the following command:
    set onvif_enable 1
4) reboot by running the reboot command

That's it, once it re

[2021-09-24 19:20] guino commented on #9
@williamkennyAK nice instructions, glad you got it going -- I am just now preparing a patch which seems like it's not required. Sorry I didn't reply earlier I had a hell of a bad day at work yesterday...

[2021-09-24 19:25] guino commented on #10
@williamkennyAK here are the addresses for the ppsapp you posted in #9:
snap/jpeg.cgi: jpeg 0x4802b0
play.cgi  0x483b94

[2021-09-24 19:27] williamkennyAK commented on #9
Totally understand.  I'm just enjoying exploring these cameras.  Cheap, but decent quality.

Thanks for the amazing work, my man.

[2021-09-27 14:24] williamkennyAK commented on #10
Thank you @guino!

[2021-10-05 11:15] jilleb opened #11 "Using ONVIF while the camera is not connected to the Tuya cloud"
Great work, thanks to you I got myself another device 😄

I got the LSC Smart Home Camera "Mini 16S", and got your hack working. But.... I've noticed that ONVIF isn't available when the unit isn't connected to Tuya. This is the same behavior we saw on the [Bazz doorbell](https://github.com/guino/BazzDoorbell/issues/4).

I took a dive into ppsapp with Ghidra, but couldn't really find why it doesn't

[2021-10-05 12:25] jilleb commented on #11
Hah, I was looking in the wrong place... of course.

The FUN_0001ff98 checks the online status of the device. While status is not Online, sleep.
I replaced the `iVar1 != 1` by  `iVar1 != 0` and it's totally ignored, device is nicely usable off-cloud!
![image](https://user-images.githubusercontent.com/8352494/136021565-2af57a8d-3852-4e47-b412-ad90cc6aa50c.png)

[2021-10-05 12:34] #11 closed

[2021-10-05 16:27] guino commented on #11
@jilleb nice work finding it. You could also just replace the command that loops so that it would just startup regardless of being online or not. Let me know if you need anything else anyway.

[2021-10-05 17:00] jilleb commented on #11
Thanks!
Nothing else needed. But... I could share the offline-patched ppsapp so you can share it?

[2021-10-05 17:20] guino commented on #11
@jilleb if you post the patch and deviceinfo I can definitely add it to the list on https://github.com/guino/ppsapp-rtsp/issues/1 with the proper credit.

[2021-10-05 17:35] jilleb commented on #11
[ppsapp_Mini16S_offline.zip](https://github.com/guino/Merkury1080P/files/7288005/ppsapp_Mini16S_offline.zip)

[code]

[2021-10-05 18:17] guino commented on #11
@jilleb I just noticed there's a ppsapp with the 1st post along with a ips file -- is that an ONVIF patch you made too ? I can post it if so. I have posted the offline patch to the list already.

[2021-10-05 18:19] jilleb commented on #11
I think that patch is already available for download here

[2021-10-05 18:25] guino commented on #11
@jilleb the md5sum on the ppsapp you posted is different than previously posted (despite being the same version). I have seen same version firmware with different md5sum in the past ( some slight changes in the file with no actual code changes ).

[2021-10-11 20:16] williamkennyAK opened #12 "curl to trip a home assistant webhook"
I'm not sure of the possibility, but is there a busybox binary build for this device (or link to a howto) to run curl so I can trip a home assistant webhook on motion?

[2021-10-14 01:27] williamkennyAK commented on #12
Even better, I've found an alternate BusyBox that includes wc and nc.  Using these I've created a script to post to a home assistant webhook.  I'll document it a bit better and submit the code here.

[2021-10-15 02:02] williamkennyAK commented on #12
@guino unfortunately, the included wget lacks the ability to use --method.  Unless I'm unaware of some wget-fu, this was the only way I could accomplish it.

[2021-10-17 14:04] williamkennyAK commented on #12
Submitted pull request with changes made including web interface for configuration.

[2021-10-17 14:04] #12 closed

[2021-10-29 11:09] lukasa1993 opened #14 "is my firmware version 3?"
[code]

not sure if its v4 or v3 ? and script doesn't seem to work for me i tried `/proc/cmdline` but `/devices/deviceinfo` i get this json from here so something must be same

[2021-10-29 19:52] CyberCowboy opened #15 "Can't telnet or get Onvif"
Working on getting 4 of these cameras setup.   and I'm getting confirmation of root:

`mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=30;/mnt/mmc01/initrun.sh)&:::::;date>/tmp/hack;(sleep
`

However I can't telnet into the device on port 23

`telnet 192.168.86.134
Connecting To 192.168.86.134

[2021-10-29 20:58] guino commented on #14
@lukasa1993 the few version 3.x firmware I have seen run non-linux firmware so the hack won't work on it. You're welcome to try all available options -- it should not hurt if it doesn't work.

[2021-10-29 21:04] guino commented on #15
@CyberCowboy you need to check you have all mmc files in place -- for telnet you need to have the right busybox file (which is over 1Mb size) and initrun.sh, custom.sh and passwd file at a minimum. If you have all the files you should double check the IP address is correct.

I would recommend you work on getting telnet first (without a ppsapp file on the root of SD card), once that's working we ca

[2021-10-30 03:59] lukasa1993 commented on #14
i tried didnt seem to work thanks anyway

[2021-10-31 17:03] solutives opened #16 "IPCAM FI02 Chacon"
Hi,
Here are the files of my IPCAM it's a Mini 8S, I follow the steps to have onvif (port 8000) or rstp (port 8554) working including ghidra but ppsapp file is different and I can't get neither one nor other working.
You'll find the asked files as an attachment, if it could be possible I would like to have the ppsapp patched for my camera.
Many thanks.

[IPCAM_FI02_Chacon.txt](https://github.com/g

[2021-11-01 12:36] CyberCowboy commented on #15
Seems I missed the busybox replacement, Thanks Guino.

[2021-11-01 12:36] #15 closed

[2021-11-01 17:26] kwetnico opened #17 "No access : telnet and Snap.cgi"
Hello, I hacked my camera: (hardwareversion ":" M16S_A2_V10_F37 "," firmwareversion ":" ppstrong-a3-tuya2_lsc-4.0.6.20210311 ")
![image](https://user-images.githubusercontent.com/55591810/139714055-de89ee2b-6b1e-4b2c-8ba7-e7d614d528be.png)

**The rtsp stream is working fine thanks.**
I wanted to test telnet and live access to snap.cgi but it doesn't work: I have access denied for snapshot and teln

[2021-11-01 17:39] guino commented on #17
@kwetnico this is a duplicate of https://github.com/guino/BazzDoorbell/issues/58 and I have answered it on that link.

[2021-11-01 17:42] #17 closed

[2021-11-01 17:50] guino commented on #16
@solutives It looks like your ppsapp is incomplete as it is only 1.1Mb in size. The other 4.0.6 ppsapp files are about 2.7Mb -- I was unable to open the file in ghidra as the file was incomplete.

I would suggest you do this:
1-delete the "home" directory of the SD card
2-Power up the device with the SD card in it (normally) and it should recreate the home directory
3-Wait at least 5 minutes after

[2021-11-02 09:11] solutives commented on #16
Hi,

Sorry for mistake.

Here is the right one, patcher.js gives it a MD5 signature.

I hope it’ll work.

Thanks.

[2021-11-02 18:00] guino commented on #16
@solutives Seems like you replied to github's email (which goes to github and not me) -- you need to post the zip on the issue in github so I can get the file -- or you can email me directly (my email is on my github profile).

[2021-11-03 15:52] guino commented on #16
@solutives Please try this patch for ppsapp with md5 5b3c755a6628d4821da2591fa2b432f4:
[ppsapp-onvif.zip](https://github.com/guino/Merkury1080P/files/7468860/ppsapp-onvif.zip)

snap/mjpeg.cgi address: 0x027f1ec
play.cgi address: 0x027f9f8

I would appreciate it if you let me know the results -- this code is slightly different than the existing 4.0.6 patches so I had to get creative.

[2021-11-03 23:16] solutives commented on #16
Hi,

Thank you for the patch, patcher.js downloaded the ppsapp patched.

After inserting the SD card and reboot with the ppsapp patched (@ SD root), nmap showed me 3 open ports on the device: 23, 8000, 8080.

But I’m certainly wrong somewhere in the process because when I look to the content of the device with telnet, I see that the SD card is not mounted at /mnt: « cd /mnt » followed by « ls » sh

[2021-11-04 00:14] guino commented on #16
Sorry, forgot to mention:

After patching RTSP should be available at rtsp://IP:8554/Streaming/Channels/101 and rtsp://IP:8554/Streaming/Channels/102 user admin and password admin. Onvif should be available on port 8000 with same user/password.

The address I gave you for snap/mjpeg needs to be set in the snap.cgi and mjpeg.cgi files in the cgi-bin directory if you want to use that feature (you sh

[2021-11-04 08:27] solutives commented on #16
Hi,

Thanks for answer.

VLC or ffmpeg handle the 2 addresses rtsp you gave but unfortunately no stream.

ffmpeg -v trace -rtsp_transport tcp -i ***@***.***:8554/Streaming/Channels/101 ***@***.***:8554/Streaming/Channels/101>" output.avi

ffmpeg trace output:

Output #0, avi, to 'output.avi':
  Metadata:
    INAM            : pps_rtsp
    ISFT            : Lavf58.76.100
  Stream #0:0, 0, 9/125: Au

[2021-11-04 14:52] guino commented on #16
@solutives can you verify the video still works using the phone app after it didn't work on the rtsp links ? Can you also try mjpeg.cgi to see if it works ? I just need to know if the problem is the patch or something else.

[2021-11-04 16:46] solutives commented on #16
The camera is still working with phone app.

After I got the files from the device in the first step, I didn’t see any cgi-bin directory on SD mounted on my computer, so I got this file from here <https://github.com/guino/Merkury720/tree/main/mmc> and copied it in SD with the *.cgi’s but when I log into the device with telnet, cgi-bin did not appear in /mnt/mmc01, cgi-bin seems to have been erased

[2021-11-06 19:18] guino commented on #16
@solutives I will need you to create some log files for me to review.

To create a log file just edit custom.sh so that the line `/mnt/mmc01/ppsapp &` so it ooks like this:` /mnt/mmc01/ppsapp 2>&1 > /mnt/mmc01/ppsapp.log &` then a few minutes after booting the file ppsapp.log should be in the SD card (and you can download it with http://user:password@IP:8080/ppsapp.log or just copy it from the SD

[2021-11-06 20:03] solutives commented on #16
@guino <https://github.com/guino>

Got it work in Home Assistant, ONVIF integration and issue #9 <https://github.com/guino/Merkury1080P/issues/9>  with telnet I looked for a file which seemed like to /home/cfg/tuya_config.json I found it: /home/cfg/dev_settings.json , changing onvif_enable=0 to onvif_enable=1

Took off the SD, reboot no greeting message from camera blue led on.

I filled in the ON

[2021-11-06 20:05] guino commented on #16
@solutives that is awesome, so there’s no need for logs.

[2021-11-22 15:08] vossim opened #18 "Port 8554 not opened"
I tried patching manually, and I tried a patch available on https://github.com/guino/ppsapp-rtsp for my device (firmware: ppstrong-a3-tuya2_lsc-4.0.6.20210311). When configured correctly I can use the cgi-bin scripts to get mjpeg and snap to work, but for some reason RTSP doesn't get started and I can't connect to port 8554 at all.

I have attached a log of my latest attempt of manually patching t

[2021-11-22 22:55] guino commented on #18
@vossim did you try to just enable onvif in the tuya_config.json file to see if it works ? many people on 4.0.6 have been able to make it work without patching that way (it's what I would try first).

Your log shows rtsp_server module started but doesn't show the debug lines associated with starting onvif so it sounds like the patch didn't work. Most 4.0.6 firmware only have ONVIF (no old style rt

[2021-11-26 09:19] vossim commented on #18
I was able to figure out what was going on yesterday. The good news: both RTSP and ONVIF work fine, the not so good news for me: it doesn't work across VLANs. I've got my chinese devices on a separate VLAN in their own subnet, and for some reason I can't connect to the cameras if I'm not connected to the same VLAN.

[2021-11-26 16:39] guino commented on #18
@vossim That's only good news as far as I'm concerned -- you really don't want the feed accessible other than from the same vlan/lan of the device. You can make firewall/network rules to limit/grant access to the feed as you like OR you can create iptables rules to enabled/disabled access on the device based on web requests or as you see fit.

[2021-12-04 21:09] Marko9831 commented on #9
What password you use?  http://admin:056565099 or  http://admin:admin. dos not work.
i got the same deviceinfo

[2021-12-05 00:34] guino commented on #9
@Marko9831 you say you got the same deviceinfo from https://github.com/guino/Merkury1080P/issues/9#issue-1005143479 -- in order to get that deviceinfo you must have used http://admin:056565099@ip/devices/deviceinfo or http://admin:admin@ip/devices/deviceinfo -- that user/password combination is only used for the URLs when applying the hack and is used for **nothing else** after that. The onvif/rts

[2022-01-10 02:29] tateconcepts opened #19 "Cannot get MJPEG or SNAP working but RTSP does"
I noticed there is a cgi-bin directory and a reference to a still image and motion jpeg. I have been able to get the device rooted and were able to telnet in and enable ONVIF but I have not had any success in getting this to work with MJPEG or similar. Is this still and issue and if so, how can I get this to write out an mp4 or something I can use with port forwarding to a private cloud service?

[2022-01-10 03:12] guino commented on #19
For mjpeg/snap.cgi to work you have to set the address in the cgi file according to your ppsapp file - if that is not posted with a patch you can post a zip of the ppsapp and I can try to find the address for you.

The only ways to record video from these devices are:
1-cloud storage from the app (usually a paid feature). You will have no control or direct access to video ‘files’ with this.
OR
2-S

[2022-01-11 17:36] tateconcepts opened #20 "sdcard erases itself after a period of time adds new folder sdrec"
Not sure what to say about this one. I had it rooted for 24h or so only to find it was no longer associated with the AP. Upon more research, I find all of the data on the flash media gone and replaced with a single folder called sdrec, which lots of short clips of the reef tank. Any thoughts as to what is occurring?

I'm going to restore the root this evening and on some other similar designs and

[2022-01-11 17:43] tateconcepts commented on #20
Here's the odd part. The timestamp on the 3m video clips is not the same as the time written to media - the born and created date/time is about 4 hours after the timestamp on the clip which is the correct time (or was when I watched it last).

[2022-01-11 18:39] guino commented on #20
This seems like the known issue where the SD card fills up and the device erases it so it can record more data. You **must** ensure there's always plenty of free space in the SD card by either disabling recording or setting it to motion only and making sure it is clean up regularly (i.e. cleanup.cgi) to prevent it from happening.

If there was plenty of disk space you could be just dealing with a

[2022-01-11 19:28] tateconcepts commented on #20
Thank you for the quick response @guino - apologies as I noted there was two references to omitting recording and possible overwrites if the cleanup.cgi script does not function as expected at the end of https://github.com/guino/Merkury720  - still unsure about the timestamps, very strange however I will also start logging of this as well.

[2022-01-11 19:44] tateconcepts commented on #19
[app.zip](https://github.com/guino/Merkury1080P/files/7849476/app.zip)
Here's one from the current Geenie devices

"devname":"Smart Home Camera",
"model":"Mini 7S",
"serialno":"100640020",
"softwareversion":"4.0.6",
"hardwareversion":"M7S_A2_V10_F37",
"firmwareversion":"ppstrong-a3-tuya2_merkury-4.0.6.20210310"

[2022-01-11 19:48] guino commented on #19
@tateconcepts there's already a patch and published mjpeg/snap address for this firmware on https://github.com/guino/ppsapp-rtsp/issues/1 :

"snap.cgi and mjpeg.cgi address: 0x03821a4" -- you DO NOT need to patch ppsapp for mjpeg/snap to work, so if you already have ONVIF working all you have to do is set the address in snap.cgi and mjpeg.cgi and it should work.

[2022-01-11 20:17] tateconcepts commented on #19
Thank you!

[2022-02-02 11:21] waldo486 opened #21 "folder name in cleanup.cgi"
Hello, first thank you for this awesome work ! I followed the guide and installed hack

I noticed on my sdcard there is no SDT folder but "sdrec" and date time pattern for the cleanup.cgi file is also wrong (ex: mine is "..mmc\sdrec\T-101691610\mp4rec\20220202-AM"
Also I don't know what the issue is but I can' access files through http / index.html but upload.html is ok

I have a Tuya mini7s camer

[2022-02-02 14:00] guino commented on #21
@waldo486 sounds like you'd have to adjust cleanup.cgi for your card structure (which I have never seen). You're welcome to post a zip of you SD card contents so I can review it (you can replace the video files with zero-size files or just provide a listing with `ls -laR /mnt/mmc01` in telnet).

If upload.html is working then you should be able to get index.html to work -- both just require busybo

[2022-02-02 14:13] waldo486 commented on #21
Hi, thanks for the quick response !

[code]
index.html is still not working, I tried looking into the browser dev tools, it seams that the html is loaded but nothing in <body>, may be the script part is not working with this device ? or one of the cgi files

[2022-02-02 14:34] guino commented on #21
@waldo486 from your listing you have the main.cgi from BazzDoorBell repo and not the one from the Merkury720 repo -- they're slightly different to deal with the different busybox version (you seem to have the correct busybox file). You want to use this main.cgi file: https://raw.githubusercontent.com/guino/Merkury720/main/mmc/cgi-bin/main.cgi

For cleanup.cgi I would expect this one to work (it ha

[2022-02-02 14:52] waldo486 commented on #21
Ok I modified main.cgi with vi and rebooted and it works perfectly now ! Thanks very much :)
I will try to modify cleanup.cgi  with you instructions
Have a good day !

[2022-02-11 21:54] alexbgreat opened #22 "Factory mode from a QR code"
I had some notes from when I broke Merkury 720p cameras a couple years ago.

One thing I saw in the firmware that never worked was entering factory mode from a QR code. Turns out, it was just my cameras.

Make a qr code that says:

{"p":"Your Wifi password here","s":"Your SSID","t":"_MEARI56565099"}

and show it to the camera when it's in pairing mode, and it should switch to factory mode and enab

[2022-02-11 21:59] guino commented on #22
@alexbgreat that's kind of cool, but one thing to be aware is that 'factory mode' in most recent devices might prevent it from enabling RTSP/ONVIF functions (this is why on these versions we need to remove the ppsFactoryTool.txt file after we root it). It does make me wonder if we can use that QR feature for anything else (I'll have to look in the code when I have a chance).

[2022-02-14 14:46] afleuryg commented on #9
You have to register the camera with the Tuya app to have the tuya_config.json file created in /home/cfg.
Also, I wouldn't run the camera without registering it, as if it's not configured, it only launches a process that parse whatever content is shown to the camera to find a wifi configuration QR-Code. The PPStrong app is not launched, and so there is no ONVIF stream.

[2022-02-14 16:16] sanscorp1 commented on #9
Thank you, I got the awnser from Guino and it is working flawlessly now.

[2022-02-14 17:03] afleuryg commented on #9
Sorry, just found his comment and your success (in issue #21) after replying to this. I was just pecking around to see if someone found another option to integrate/extract the rstp stream, and as I had the problem with the json file earlier, I thought it would be nice to have the answer below the question... ;-)

[2022-02-20 15:23] sanscorp1 commented on #9
This also works for the mini 16S
softwareversion 5.2.4
hardwareversion M16S_A2_V10_MIS
firmwareversion ppstrong-a3-tuya2_lsc-5.2.4.20211015

The hack isn't working, it does not copy the ppsapp nor does it look at custom.sh.

[2022-02-20 15:32] sanscorp1 opened #23 "Mini 16s"
I was afraid it wouldn't take long for my next question :)

I just purchased the indoor mini 16S camera (1080) and I have been able to telnet into the camera and enable RTSP in the tuya_config.json file, the stream works.

But I tried the "offline hack" via custom.sh but the camera stays online.
This is the file I'm using now and the host file is in the root of the SD.

Is the custom.sh edited cor

[2022-02-20 15:39] guino commented on #23
@sanscorp1 since you likely don’t have a patched ppsapp you can try this instead:

[code]

[2022-02-20 15:47] guino commented on #9
@sanscorp1 the message above is unclear about what works or not but on the other issue you said you can telnet and use rtsp by modifying the json file - please just update the other issue with details from now on: https://github.com/guino/Merkury1080P/issues/23

[2022-02-20 15:54] sanscorp1 commented on #23
Doesn't seem to work.
"hosts" is succesfully copied to /etc/ but WiFi isn't going down.
I assume this has to happen to enstate the new hosts file?

[2022-02-20 16:06] sanscorp1 commented on #9
Sorry, I will clarify the topic.
This is a new camera, other model then the issues before.

Op zo 20 feb. 2022 16:48 schreef Wagner ***@***.***>:

[2022-02-20 16:11] guino commented on #23
@sanscorp1 you can try to increase the sleep 120 value between ifconfig commands 180 - that is the time it waits with the wifi down so the tuya connection is ‘dropped’ , you can reduce the first sleep to reduce how long it waits to connect to the tuya servers initially (to get date/time).

I can probably devise a more ‘accurate’ method for this by checking the time and the connections - I will see

[2022-02-20 16:29] sanscorp1 commented on #23
I increased the sleep timers and edited the hosts file but the connection to Tuya is still up.

I did add this to the hosts file:
127.0.0.1 aws3nat.tuyaeu.com aws4nat.tuyaeu.com

[2022-02-21 19:02] guino commented on #23
@sanscorp1 If you want you can post a zip of your ppsapp and I can try to patch it for offline (would require you to have an accessible NTP server to set the time).

If you prefer to get the 'universal' offline method working I just have to find the time to re-work it by checking date/time and disconnections instead of just using 'sleep'.

[2022-02-21 19:13] sanscorp1 commented on #23
The hack isn't properly working on this indoor 1080 camera, the content of the device isn't copied to the SD card so I have no PPSAPP of this camera.

Working:
- Busybox / Telnet
- Custom.sh

Not working:
- Copy of the device internal storage to the SD card.
- Custom.sh offline patch (hosts)
- No PPSAPP available so there is nothing to patch.

Device info:
{"devname":"Smart Home Camera","model":"M

[2022-02-21 19:22] guino commented on #23
@sanscorp1 they may have changed something about where the files are stored -- can you post the result from:
http://admin:056565099@ip/proc/self/root/etc/init.d/S90PPStrong -- this should give us a clue at what may be different.

Also, if you don't mind post your initrun.sh file as well just to rule out any problems with that.

[2022-02-21 19:33] sanscorp1 commented on #23
#!/bin/sh

export PATH=/usr/bin:/sbin/:/usr/sbin:/bin

RED="[1;31m"
NORMAL="[0;39m"

echo "${GREEN} 2015 PPStrong Tech Cop.Ltd.${NORMAL}"

mkdir -p /opt/pps
MTDNUM=`cat /proc/cmdline | sed 's/.*ppsAppParts=\([0-9]\).*/\1/'`

# debug
MTDNUM=5

case $MTDNUM in
         5)
			mount -t cramfs /dev/mtdblock$MTDNUM /opt/pps
			break
			;;
		 7)
			mount -t cramfs /dev/mtdblock$MTDNUM /opt/pps
		 	brea

[2022-02-21 19:47] guino commented on #23
@sanscorp1 can you try this:
1-make sure there's no 'home' directory in the SD card
2-update your initrun.sh to be this (I only added the `mkdir` line):
[code]
3-reboot the device and make sure to wait at least 3 minutes before removing the SD card, then check if the home directory was created (with ppsapp inside).

[2022-02-21 20:14] sanscorp1 commented on #23
Nope, did not work, waited 10 minutes.

[2022-02-21 20:32] guino commented on #23
@sanscorp1 I am going to need you to execute these commands in telnet and show me the outputs:
[code]
Everything seems to be 'normal' but one of the above must be failing and I need to see 'why' as the above is basically the same as the firmware does -- chances are it's just something stupid like they renamed the app.tar.gz file to something else.

[2022-02-22 08:13] sanscorp1 commented on #23
Is looks like the filename is indeed different. tar.gz is tar.xz

![image](https://user-images.githubusercontent.com/33477802/155090179-4fb695bc-a9c3-48c3-bce4-447c12c21b45.png)

[2022-02-22 16:27] guino commented on #23
@sanscorp1 good job on providing accurate results -- yes it seems they modified the format of the compressed file on this version -- I will adjust the initrun.sh script accordingly.
I'll take a look at your ppsapp and see if I can make an offline version for you, meanwhile I'm also working on a different universal offline option.

[2022-02-22 16:33] sanscorp1 commented on #23
Thank you!

I am willing to try another offline method if needed.

The PPSAPP has to be edited with an HEX editor right?
Shame it's so hard to learn, I have two other cams (Lidl, Silvercrest) with undoubtebly a Linux based OS. Would be great to enable RTSP/ONVIF on those to.

Connecting is one thing, extracting the password a whole other thing.

[2022-02-22 20:59] guino commented on #23
@sanscorp1 Please try this for a newer/improved universal offfline patch:
1-create a file on the SD card called `offline.sh` with these contents:
[code]
2-Modify your custom.sh file so it looks like this (I removed the offline commands and added a call to the new script):
[code]
I tested the above with my own device and seems to work well -- the device will boot up and should be unaccessible for a

[2022-02-23 12:26] sanscorp1 commented on #23
Netstat results in this:

![image](https://user-images.githubusercontent.com/33477802/155318962-b3ccf33d-a7ce-45ee-a572-a305b892be8b.png)

The highlighted rule is connecting to amazon?
ec2-3-120-92-134.eu-central-1.compute.amazonaws.com

[2022-02-23 21:02] guino commented on #23
@sanscorp1 thanks for trying the offline script -- can you provide the output of these two telnet commands:
1-**cat /tmp/offline.log**
2-**route -n**
I have not had a chance to look at RTSP/ONVIF for your firmware but I will.

[2022-02-24 05:10] sanscorp1 commented on #23
The difference in our timezone makes it a slow proces, but I'm in no rush.

IF it can be done without much effort, the offline ppsapp is welcome, otherwise it would be more benefitial to others to continue with the universal offline.sh patch

[2022-02-24 10:18] guino commented on #23
@sanscorp1  you can try this offline patch:
[ppsapp-offline.zip](https://github.com/guino/Merkury1080P/files/8131600/ppsapp-offline.zip) please use these steps: https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080

Also these may be useful:
jpeg address: 0305ba4
play address: 03069a8

[2022-02-24 12:54] sanscorp1 commented on #23
I followed all the steps from step 1 to assure a "stock hack" and the camera is stuck in a boot loop with the patched PPSAPP.

I also played with offline.sh and hosts but whatever I try, I can still connect trough the app (even outside the local network) and I still see activity in AdGuard to tuya servers.

[2022-02-25 03:59] guino commented on #23
@sanscorp1 I did not expect you to have boot loop issues with the patch.

Can you try it again with the **original** ppsapp (no patching) in the root of the SD card to see if it boot loops ?

I don't know if you saw this request in regards to the 'universal' offline script: https://github.com/guino/Merkury1080P/issues/23#issuecomment-1049213196

[2022-02-25 09:54] sanscorp1 commented on #23
Forgot about that.

Summary PPSAPP:
- PPSAPP offline causes a bootloop every 1,5 minute, even when redoing all the steps on an empty SD card.
- Original PPSAPP in the root of the SD also caused a bootloop.
- Copied the working outdoor cam SD to the Indoor cam SD and placed the correct PPSAPP in root, this also causes a bootloop.
Removing the PPSAPP from root SD alltogether and the camera boots fin

[2022-02-25 11:45] guino commented on #23
@sanscorp1 it sounds like the issue is that killing ppsapp and starting it again is causing a the boot loop (unrelated to the patch I made). There’s a way around it (Dan’s changes) to boot the parched ppsapp directly but it seems an excessive measure just for offline mode.

Can you post the output of `cat /tmp/offline.log` with the offline script? If you don’t have one it may not be setup correctl

[2022-02-25 12:28] sanscorp1 commented on #23
It doesn't excist, here are the files:

[custom.sh.txt](https://github.com/guino/Merkury1080P/files/8141115/custom.sh.txt)
[offline.sh.txt](https://github.com/guino/Merkury1080P/files/8141116/offline.sh.txt)

[2022-02-25 14:59] guino commented on #23
@sanscorp1 And you still have a hosts file in the SD card?

[2022-02-25 15:07] sanscorp1 commented on #23
Yes, I did edit it to include some more hosts and a better overview:

[hosts.txt](https://github.com/guino/Merkury1080P/files/8142138/hosts.txt)

[2022-02-25 16:04] guino commented on #23
@sanscorp1 can you try adding `&` to the offline.sh line in custom.sh, like this:
`/mnt/mmc01/offline.sh &`

We should have at least seen some data in /tmp/offline.log but you're saying it is not there so it is like the script isn't even running.

Please make sure the hosts file is NOT called 'hosts.txt' in the SD card.

[2022-02-25 16:29] guino commented on #23
@sanscorp1 looks like you found the issue but it makes no sense -- I have the same script on my device and it is working so maybe they have some support commands missing on your device.

Can you execute this on telnet and post responses:
1-`if [ ! -e /mnt/mmc01/hosts ]; then echo no file; fi`
2-`if [ -e /mnt/mmc01/hosts ]; then echo fileok; fi`

Depending on the results we may be able to make smal

[2022-02-25 16:34] sanscorp1 commented on #23
What about simplifying it more?

after editing offline.sh (removing bogus characters, I think because of Windows Notepad) I get this:
![image](https://user-images.githubusercontent.com/33477802/155751733-1d316137-3c7b-481b-aa81-ace317eaaf6f.png)

IF copying hostst to ETC is enough to block internet, maybe I should go with the simple version.
Sleep timer, copy hosts, restart WiFi.

I can use my NTP

[2022-02-25 16:54] guino commented on #23
@sanscorp1  the tcp6/udp6 messages are not a problem -- I am interested in seeing the offline.log file now that you 'fixed' character issues with the file.

The issue I found during my testing is that the ppsapp seems to have some 'hard coded' IP addresses instead of relying on DNS to find the server IPs to connect onto so using the hosts file alone may not do the trick.

The offline script I buil

[2022-02-25 17:59] sanscorp1 commented on #23
This is working now.
I don't know what went wrong yet but I'll compare the files.

I think the lesson would be to use Notepad++ instead of Windows Notepad...

Output of cat /tmp/offline.log
![image](https://user-images.githubusercontent.com/33477802/155764339-61b8ce40-f02b-476c-94b2-64c98da49ca2.png)

[2022-02-25 18:01] guino commented on #23
@sanscorp1 as long as it works offline and you have RTSP/ONVIF working that's what matters (so you don't have to patch ppsapp and deal with the boot loop issue).

I should have just made the file available for download to start instead of copy/pasting it, sorry.

[2022-02-25 18:14] sanscorp1 commented on #23
RTSP is the main feature I'm using.
Now testing on the other two indoor camera's.

The only thing left to do is disable SD card recording, even tough   /mnt/mmc01/set record_enable 0 is uncommented it still records.

I will try to adjust tuya_config.json accordingly.

[2022-02-26 16:47] guino commented on #6
@Wysiwyg44530 telnet is only available after rooting the device. Did you follow the rooting steps described in https://github.com/guino/Merkury1080P#conclusion ? If so did you get all expected responses or did any step fail?

[2022-02-26 18:25] Wysiwyg44530 commented on #6
Hello,Thanks for answering.Here are the results of the commands :- device info : (not the entire file)  devname“Smart Home Camera”model“Mini 16S”serialno“103800567”softwareversion“5.2.4”hardwareversion“M16S_A2_V10_MIS”firmwareversion“ppstrong-a3-tuya2_lsc-5.2.4.20211015”cmdline :mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),

[2022-02-26 20:51] guino commented on #6
@Wysiwyg44530
1-You need to go into github and reply on the issue in order to post attachments (I did NOT receive any attachments you sent by email)
2-You seem to have rooted the device correctly, if telnet is not working you may want to check the size of your busybox file on the SD card (it should be around 1Mb). This is the download link for it: https://github.com/guino/BazzDoorbell/blob/master/

[2022-02-27 13:54] Wysiwyg44530 commented on #6
Here is the zip of my SD card :
[SD_card_files.zip](https://github.com/guino/Merkury1080P/files/8148721/SD_card_files.zip)
For now, I still can't telnet...

[2022-02-27 18:21] guino commented on #6
@Wysiwyg44530 I see some busybox crash errors -- please try this busybox instead: https://github.com/guino/Merkury720/blob/main/mmc/busybox?raw=true

Other than that I see:
-cleanup.cgi not configured (highly recommended to keep free space on the SD card so it won't get erased)
-passwd file not configured (required so you can login to telnet)
-dropbearmulti not downloaded correctly (but it is only

[2022-02-27 19:57] sanscorp1 commented on #23
I've been using the offline hack for two days now and the camera's are still working.

I do notice frequent connection interruptions. Could this be because of the RDP protocol and high CPU usage?

Is there a(n easy) way to utilize the TCP protocol?

I will add a stock camera to observe it's behaviour as well.

[2022-02-27 20:35] guino commented on #23
@sanscorp1 these cameras are known to high cpu , disconnection and even rebooting due to UDP based RTSP streaming. The client used can choose to use TCP instead of UDP which greatly improves stability of the stream and reduces cpu load.

On VLC you can start it like this:

`vlc --rtsp-tcp rtsp://ip:8554`

OR you can go into VLC settings and selecting RTP over RTSP (TCP) : in 'Simple' mode click 'T

[2022-02-28 18:23] sanscorp1 commented on #23
OK I'm running into trouble with one indoor camera.

The folder "TCP6" does not excist:

![image](https://user-images.githubusercontent.com/33477802/156037163-6c6e4aae-768a-4b84-b7b5-e4bfaf8f1369.png)

When I do a "netstat" I get the same error and I'm unable to create the directory in /proc/net with "mkdir"

[2022-02-28 18:43] guino commented on #23
@sanscorp1 you can safely ignore the tcp6, udp6 and raw6 errors -- they just mean the device doesn't have support for ip6. The offline script should work normally despite those messages.

[2022-02-28 18:46] sanscorp1 commented on #23
I figured that by reading about the error while I googled the problem :)

I'm trying again with the files you provided (hosts and offline.sh)
I stripped the custom.sh to this:

`#!/bin/sh
if [ ! -e /tmp/customrun ]; then
 echo custom > /tmp/customrun
 cp /mnt/mmc01/passwd /etc/passwd
 /mnt/mmc01/busybox telnetd
 /mnt/mmc01/busybox httpd -c /mnt/mmc01/httpd.conf -h /mnt/mmc01 -p 8080
/mnt/mmc01/off

[2022-02-28 19:09] guino commented on #23
@sanscorp1 you probably have some windows character issue on the file. You should copy the files from the one that works to be sure. If they’re the same type of camera you can probably swap chips and see if the problem stays with the device or with the chip.

[2022-02-28 19:11] sanscorp1 commented on #23
I did learn myself to use Notepad++ for the files.
After some tinkering it did work again.

I will create a copy of the SD card for the other two indoor cams and test again.

[2022-02-28 20:24] sanscorp1 commented on #23
The three indoor camera's are working this way for now.
Displayed offline in the Tuya app, telnet and RTSP are working.

The doorbell seems to disconnect WiFi and doesn't come up again.
When I remove the ifconfig as test, there are no blocked hosts in /tmp/offline.log
When executing wifi down and up (while ifconfig wlan0 down, sleep 60, ifconfig wlan0 up) the camera reboots WiFi every 60 seconds.

[2022-02-28 22:49] guino commented on #23
@sanscorp1 so if your three cameras are working what is it that's showing no blocked hosts ? a 4th camera (not mentioned) ?

Where did you get 'sleep 60' from ?  this newest offline script should loop every second with ifconfig wlan0 down to make sure the ppsapp won't restart it while we're blocking connections.

If you're having issues with the offline script not terminating on some device, just

[2022-03-01 06:36] sanscorp1 commented on #23
I now have 3 indoor, 1 outdoor and 1 doorbel.

Because it is an universal offline hack I tried it on all devices.

I will continue with the doorbell and outdoor camera.

[2022-03-01 11:22] sanscorp1 commented on #23
Well, I just killed the doorbell.. Cannot connect or reconnect (Tuya app) after reset anymore.
I think because there was a wrong ENV file on the SD card...

Debug is also enabled and I failed to create the correct ENV before killing it.
# debug
MTDNUM=5

CMDline before the last reset was:
setenv bootargs mem=64M console=ttySAK0,115200n8 loglevel=10   mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k

[2022-03-01 17:24] guino commented on #23
@sanscorp1 if youŕe running the offline.sh and it isn´t working send me a copy of the offline.log and I can review. Glad you 'revived' your device though.

[2022-03-01 18:12] sanscorp1 commented on #23
The joy was short lived, I tried the env file again according to the manual and now I can't access the camera nor make connection with (or add it to) the Tuya app.

Do I only need the files in TazzDoorbell MMC from this repo or does this hack not work for the camera's where the debug is still active?

I purchased a second doorbell this afternoon to try it again.

[2022-03-01 18:20] guino commented on #23
@sanscorp1 like I said before: I highly doubt the boot settings would 'damage' the device permanently -- if you modify it wrong enough you may cause the device to not boot but it should be reversible using the original cmdline using the troubleshooting steps in https://github.com/guino/BazzDoorbell/issues/2

You should be following the instructions from https://github.com/guino/BazzDoorbell/issues

[2022-03-01 18:28] sanscorp1 commented on #23
I have version 4.0.7 and followed the wrong steps and will open a new issue.

[2022-03-13 02:48] kimberlymarble13 opened #24 "Merkary"

[2022-03-17 07:56] sanscorp1 commented on #7
I'm experiencing the same problems, aware of the quality of the HW but my server log on my NVR (Milestone Xprotect Essentials+) is flooded with disconnects and 15 FPS is not achieved.

I'm using RTSP / TCP and I'm having trouble on all camera's:
- 3x Indoor camera 1080
- 1x Outdoor camera
- 1x Doorbell

The WiFi is not congested and signal is 70 - 90% according to the Tuya app on android.
Ping is

[2022-03-17 17:12] guino commented on #7
@sanscorp1 snapshot/MJPEG will never have good FPS (and has no audio) -- the MJPEG we have on these devices is a 'rig' I made mostly for preview.

With RTSP if you're using TCP (and not UDP) I would expect it to be stable and functional unless you're having wifi congestion (which is not uncommon on 2.4Ghz).

I would suggest you telnet into the devices and execute `top` then watch the CPU% usage be

[2022-03-27 04:11] Jonathan-Garber commented on #1
```{"devname":"Smart Home Camera","model":"Mini 11S","serialno":"103331415","softwareversion":"4.0.7","hardwareversion":"M11S_A2_V20_GC1","firmwareversion":"ppstrong-a3-tuya2_merkury-4.0.7.20210624","identity":"M5H0116K7S02025113","authkey":"qQX829z9BlyvU3I1cye0DTP0nJdkDGWl","deviceid":"pp0129bef22c8b956ebe","pid":"aaa","WiFi MAC":"9c:1c:37:7f:63:88","ETH MAC":"00:00:00:00:00:00"}```

[ppsapp.zip]

[2022-03-27 14:03] sanscorp1 commented on #7
I have been monitoring the CPU and it is averageing arround 20% on all cams.
WiFi is not congested, very few AP's nearby and I'm using openwrt on enterprise 4 AP's (Aerohive).

Also, the Tuya stream in the android app isn't showing this behaviour of disconnects. There is more latency though.

Would it be possible to run a seperate "onvif server" on the camera's?

[2022-04-01 01:40] kc0gfv opened #25 "ppsapp patch request"
Good day,

I cannot seem to find a compatible patched ppsapp and would like to know if you could patch it for me.

:8090/devices/deviceinfo output:

{
"devname":"Smart Home Camera",
"model":"Mini 11S",
"serialno":"062426290",
"softwareversion":"4.0.0",
"hardwareversion":"M11S_A2_V10_F37",
"firmwareversion":"ppstrong-a3-tuya2_merkury-4.0.0.20200911",
"identity":"MR2008250201433237",
"authkey":"SKmq

[2022-04-01 02:14] guino commented on #25
@kc0gfv 4.x versions usually don’t require patching, please try it with this information and let me know: https://github.com/guino/Merkury1080P/issues/9#issuecomment-926414826

[2022-04-01 03:13] kc0gfv commented on #25
Maybe I am still doing something wrong... Using the information you sent, I tried to follow the instructions. I do not even see an option for ONVIF in the json file.

![image](https://user-images.githubusercontent.com/102775365/161188048-0ff6d870-1f42-4dd7-874f-7d25109e059f.png)

I also did as another thread suggested and removed the # from the custom.sh file but that does not seem to have done an

[2022-04-01 22:31] drakbar opened #26 "cannot access rtsp"
## About Device
| firmware version |  hardware version | model
| :---: | :---: | :---: |
|ppstrong-a3-tuya2_merkury-4.0.7.20210624 | M11S_A2_V20_GC1 | mini 11s

## Summary
So, after successfully rooting my camera I am able to log (telnet) into the device and use _vi_ to edit **tuya_config.json**. I have set **onvif_enable** to _1_ and have set the **onvif_pwd**. Attempting to access the rtsp strea

[2022-04-02 01:10] guino commented on #26
@drakbar the camera needs to connect to the tuya servers to set the date and time - only after that it will start thr onvif/rtsp service. In addition the camera must have been setup in the app as it won’t do much while in ‘factory mode’ (also be sure ppsFactoryTool.txt is removed/renamed after rooting for the same reason).

The only way for the camera to start up completely without internet is to

[2022-04-02 01:15] guino commented on #25
@kc0gfv I have never seen a 4.0.0 firmware until now so it is possible that it doesn’t have the built in onvif function like newer 4.x firmware.

Please confirm that you enrolled the device in the phone app (and it works there) or it may not have all the settings in the json file until you do it.

If you confirm it I can look at making a patch for this specific version - it may take a little longe

[2022-04-02 12:14] kc0gfv commented on #25
Sorry for the long delay, I was at a remote job site all day yesterday and got home later then expected...

Yes, the device has indeed been enrolled on the phone app. I have actually been using it "normally" for a couple of years now. No worry about how long it takes to make a patch. You are doing a wonderful service and I can absolutely be patient and wait for as long as needed :).

I will also c

[2022-04-02 20:28] drakbar commented on #26
@guino you are correct, it has to phone home prior to working. Interestingly, once you get the onvif and rtsp servers up on the device they will stay up even in the event that the network loses connection to the internet. Now how long the servers will remain in that state (besides a power cycle) I have yet to see.

Would you be willing to assist me in creating a offline patch?

[2022-04-02 21:49] guino commented on #26
@drakbar once started the device will continue to work (forever) unless it is powered off or frozen , then it will need internet to bootup completely again.

I should be able to make an offline patch once I am back on my feet.

[2022-04-02 21:51] guino commented on #25
@kc0gfv I will open your 4.0.0 firmware in ghidra and take a look, since there’s no onvif in the configuration it probably has old rtsp code still in there.

[2022-04-02 22:03] drakbar commented on #26
@guino do you need a copy of ppsapp?

[2022-04-02 22:20] guino commented on #26
@drakbar yes, I need ppsapp for your version.

[2022-04-02 22:51] guino commented on #25
@kc0gfv your 4.0.0 version doesn't have the new ONVIF code and it doesn't have the old RTSP code either. If you really want RTSP I would check if there's a firmware update in the phone app (and even try a different app like Tuya, Smartlife to see if one of them shows an update). You can upgrade the firmware without the SD card installed, then you should be able to just remove the home folder from

[2022-04-03 01:15] drakbar commented on #26
@guino Here you go. Do you patch this strictly based on the de-compilation? Or do you have some type of emulator?

I tried to create a patch similar to #11, but mqtt just spams the output with error messages and doesn't advance on to firing up the onvif and rtsp servers.

[ppsapp.zip](https://github.com/guino/Merkury1080P/files/8403600/ppsapp.zip)

[2022-04-03 03:11] guino commented on #26
@drakbar play.cgi address: 0x003940e4, mjpeg/snap.cgi address: 0x03932e8 -- still working on the offline patch.

[2022-04-03 03:23] guino commented on #26
@drakbar I just use ghidra to view the code and figure out what needs changing, then patch the file directly (hex editor) to build a patch file later. I don't have a way to run/emulate it but have an idea of what to do comparing with my own devices which are different but allowed me to do initial testing and know what works.

Here's the offline patch you can try:
[ppsapp-offline.zip](https://githu

[2022-04-03 04:51] drakbar commented on #26
@guino wow I am shaking my head over here. I was so close yet so far. I patched the while loop near the top of that function. I didn't even notice that one hiding in there. I am super impressed with the patch though all it takes is changing one byte to a no op and the flow of execution just drops out of the while loop.

![patch](https://user-images.githubusercontent.com/20728117/161411720-3779e0e3

[2022-04-03 04:51] #26 closed

[2022-04-03 14:10] guino commented on #26
@drakbar glad it works, thanks for reporting back.

Usually it’s simple like this but some versions have a bit of a convoluted nested loop in that check and you have to get a little creative with the changes.

[2022-04-05 14:08] KevinWillemarck opened #27 "ppsapp patch request"
Hello

I don't know if its possible to get a v5.0 firmware patched.
Asking for any help that could point me in the right direction or can offer a patched version.

{
    "devname":"Smart Home Camera",
    "model":"Bullet 4S",
    "serialno":"100202591",
    "softwareversion":"5.0.5",
    "hardwareversion":"B4S_V10_S1_GC1",
    "firmwareversion":"ppstrong-c71-tuya2_lsc-5.0.5.20210301",
    "identit

[2022-04-05 20:43] guino commented on #27
@KevinWillemarck sorry we have no patch for 5.0.5 as of writing this. At least some of these devices don't seem to even run linux.

[2022-04-05 21:00] KevinWillemarck commented on #27
That's a bummer. But if I remember correct I read somewhere that with firmware v5.x onvif and rtsp could be enabled or is enabled. Is this correct or did I understand it wrongly? Or is this something that can only be accomplished with rooting the firmware?

[2022-04-07 15:24] guino commented on #27
@KevinWillemarck if you have a hardware programmer, heat gun and enough skill to handle them you may be able to change the settings in the firmware like posted on this issue: https://github.com/guino/BazzDoorbell/issues/62#issuecomment-1091869295 but we have no solution to rooting it without hardware work and there’s no way to access the settings other than rooting or hardware programmer.

[2022-04-22 16:11] mmendozam opened #28 "Problems while rooting Mini 11S"
Hi @guino, I'd like to thank you for your great job doing this project to root Merkury cams.
I have a Merkury 1080 cam I tried to root following your instructions but it looks like I'm missing something.
I took the files from this [post](https://github.com/guino/Merkury720) and then replaced the 3 files as described [here](https://github.com/guino/Merkury1080P) before copying them all over to my s

[2022-04-22 16:46] guino commented on #28
@mmendozam You seem to have done everything correctly and you have a version known to work with our process. You should NOT need to use the reset button again unless we find something very different.

I'd like you to post the response for  http://admin:056565099@ip/proc/self/root/etc/init.d/S90PPStrong  so I can see if there's anything odd.

Can you also check if you have a response for  http://ad

[2022-04-22 17:12] mmendozam commented on #28
Kindly find below the additional details:

http://192.168.0.13:8090/proc/self/root/etc/init.d/S90PPStrong
[code]

http://192.168.0.13:8090/proc/self/root/tmp/hack
[code]

Also, I tried adding the `mkdir` command as you suggested (no luck):
http://192.168.0.13:8090/proc/self/root/mnt/mmc01/initrun.sh
[code]

[2022-04-22 17:16] guino commented on #28
@mmendozam the hack line indicates the command is running (good) but the fact that initrun.sh isn't running is the problem.

Can you post a zip of your your SD card files so I can check ? I would like to rule out something like Windows formatting of the files, etc -- depending on how you created/edited the files this could be the issue.

[2022-04-22 17:23] mmendozam commented on #28
Here is the zip with my sd card files, I only omitted `ppsFactoryTool.txt` file.
[mmc.zip](https://github.com/guino/Merkury1080P/files/8542767/mmc.zip)

[2022-04-22 17:30] guino commented on #28
@mmendozam it seems like all your files are saved in windows format -- this is likely why it isn't working. I recommend you used this link to download initial files: https://github.com/guino/Merkury720/archive/refs/heads/main.zip then use this link to download the 3 additional files for your device (overwriting existing files):  https://github.com/guino/Merkury1080P/archive/refs/heads/main.zip the

[2022-04-22 17:58] mmendozam commented on #28
Thanks @guino! It looks like the problem was the file format!
I copied your zipped files to my sdcard and it worked. Then, I looked at what was different between the files. You were absolutely right, the issue was the file format:

![image](https://user-images.githubusercontent.com/63472662/164768565-2c223605-cbfc-43ef-adf4-8db7f2307c52.png)

I initially used Notepad++ to edit the files, after you

[2022-04-22 18:02] guino commented on #28
@mmendozam glad to help, thanks for the feedback.

[2022-04-22 18:02] #28 closed

[2022-04-26 19:31] AvgAlice opened #29 "Issues with rooting Mini 11S"
I've confirmed I've got the right SD cards, I have 3 different cameras to try from and none of them work. Using the directions from the 720p and the 1080p, i copied files from 720 to root of card, replaced with files from 1080, downloaded busybox to root, and downloaded ppsFactoryTool and modified with SSID and password. I did all of this in windows, and then again in ubuntu desktop.

When booting

[2022-04-26 19:40] guino commented on #29
@AvgAlice your /proc/cmdline response indicates that the boot settings are not changing. For 2.10.x firmware (your version) you need to use these instructions+files from https://github.com/guino/BazzDoorbell/issues/13 -- the instructions from 720p and 1080p are for different firmware versions (2.7.x and 4.x respectively), so this is possibly the reason you haven't been successful. I do recommend l

[2022-04-26 22:09] AvgAlice commented on #29
Alright, so I tried using the steps in [doorbell#13](https://github.com/guino/BazzDoorbell/issues/13), I checked my S90PPStrong readout, and I confirmed I have "#MTDNUM=5". my proc/cmdline did not change, nor did it show the "thankyou" bits at the end.

Attached are files i've been using, this would include the 3 files noted in [#2](https://github.com/guino/BazzDoorbell/issues/2) (i put those in t

[2022-04-26 22:10] AvgAlice commented on #29
Also, thanks for obfuscating my mac, didn't think about that before i posted ;)

[2022-04-26 22:33] guino commented on #29
@AvgAlice Based on your zip, your env file still the one from https://github.com/guino/BazzDoorbell/issues/2 and the env file is not formatted correctly (it has windows end of lines in it). Please use the 3 files from the zip posted with https://github.com/guino/BazzDoorbell/issues/13 instead -- it does NOT have the thank you stuff in it.

Regardless of what you'll need to use a text editor that d

[2022-04-27 01:11] AvgAlice commented on #29
I was able to get notepad++ up and running (i'm running a live ubuntu desktop), apparently the default text editor added the \00 when I saved. After confirming I have clean files, the camera took an extra few seconds to boot, as noted in your instructions.
/proc/cmdline now shows the following:

`mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k

[2022-04-27 01:38] guino commented on #29
@AvgAlice your /proc/cmdline looks good and the fact that you got a home directory means it is working. You can proceed forward with the steps ignoring the 500 error from the hack url.

For telnet you need to make sure you have custom.sh, busybox and configure the passwd file.

You will need to rename/remove ppsFactoryTool.txt to get the app working again (including rtsp/mjpeg/etc) but you can wai

[2022-04-27 04:08] AvgAlice commented on #29
I've gotten telnet up and running, logged in with my own creds, renamed ppsFactoryTool, ppsapp is patched using "ppstrong-c51-tuya2_geeni-2.10.1.20210207", followed the directions to a T. I'm able to "access" snap.cgi and mjpeg.cgi in browser, but all that shows is a small white square in the middle of the screen. I'm unable to access the RTSP stream via VLC or OBS, ran a quick netstat -tanp, didn

[2022-04-27 17:19] guino commented on #29
@AvgAlice you can't use the patch for ppstrong-c51-tuya2_geeni-**2.10.1.20210207** on your **2.10.6** firmware -- patches are highly specific so the whole firmware version must match and the md5sum on the patching site should also match or it won't work (and can cause problems).

For snap/mjpeg to work you have to edit the address in the cgi files to be the address posted with your patch and there

[2022-04-27 18:12] AvgAlice commented on #29
Alright, so I attempted to change the addresses without patching, restored the original ppsapp file, 8554 and 8555 did not open up.

Patched using the file above and the instructions, confirmed md5 is good, ports 8554 and 8555 are now open, but none of the streams will open up with VLC or OBS given any of the rtsp links.

Active Internet connections (servers and established)
Proto Recv-Q Send-Q Lo

[2022-04-27 21:37] guino commented on #29
@AvgAlice did you remove ppsFactoryTool.txt from the SD card -- some versions don't startup completely if that file is present (then no phone app or video would work).

[2022-04-28 04:32] AvgAlice commented on #29
I confirmed i did remove that file from the root, i was also able to access main.cgi via port 8080. here's the output:

..
.Trash-999
SDT
bin
cgi-bin
home
lib
busybox
custom.sh
dropbearmulti
env
hosts
httpd.conf
index.html
initrun.sh
jpeg-arm
mqtt_pub
offline.sh
passwd
ppsMmcTool.txt
ppsapp
set
upload.html

I was also having issues uploading a zip file containing the contents of the SD card, githu

[2022-04-28 08:12] AvgAlice commented on #29
Also, i removed all files from the SD, rebooted, loaded the files up with all of the initial files once more with the patch, 8554 and 8555 are open, but i'm still unable to access the rtsp stream, nor am I able to access the camera via the app, even though ppsFactoryTool.txt was never added from the start of it.

do i need to do something more to fully wipe the camera of what i've done, without ki

[2022-04-28 13:58] guino commented on #29
@AvgAlice github should allow you to upload the file as long as the file name ends with **.zip** -- if it doesn't work just try a different browser like firefox. Since you have 8554 and 8554 ports open I am assuming you patched it correctly and enabled onvif on the tuya_config.json correctly (otherwise the ports would not be open) -- for port 8554 you may need to specify a user/password like rtsp:

[2022-04-28 16:33] AvgAlice commented on #29
Finally figured out that the contents of the SD card exceeded github's size limit ;)

Please review the files below, this includes the patched ppsapp.

[CamDropFolder2.zip](https://github.com/guino/Merkury1080P/files/8584617/CamDropFolder2.zip)
[CamDropFiles.zip](https://github.com/guino/Merkury1080P/files/8584615/CamDropFiles.zip)
[CamDropFolder1.zip](https://github.com/guino/Merkury1080P/files/8

[2022-04-28 23:32] guino commented on #29
@AvgAlice your files seem fine but you have the wrong initrun.sh in the SD card -- you need the one from here: https://github.com/guino/BazzDoorbell/files/5792854/ppshack2.zip, I am not sure what kind of problems you may get by mixing files like you have right now (but it could be the cause of your problems).

To view your tuya_config.json, just type this command on telnet:
`cat /home/cfg/tuya_con

[2022-04-29 04:20] AvgAlice commented on #29
SUCCESS!! Thank you so much~! I'll be working on this a bit more tomorrow, but i'll get my other 2 cameras rooted, and I have another model with a floodlight i'll be attempting to root next.

Just to confirm for those googling, after figuring out my initrun.sh is incorrect, i wiped my sd card clean, and added only the correct initrun.sh, i did not need to patch ppsapp, i was able to access rtsp st

[2022-04-29 18:54] AvgAlice commented on #29
quick update to this, I was able to take the same files used for this and root my floodlight style camera. I'm not sure of the exact model offhand, devices/deviceinfo isn't working for me on that camera, but i'm able to access telnet, and the RTSP stream in the same way as the others, just had to enable onvif in the tuya config file for rtsp to work.

Thank you so much again for all of your help a

[2022-04-29 18:55] #29 closed

[2022-04-29 23:43] guino commented on #29
Thanks for the feedback!

[2022-05-10 00:41] richaardvark opened #30 "Weird Password Issue"
Hello,

I've previously used your amazing method to root two 720 Merkury cameras and today I decided to go purchase and try rooting a 1080p version.  I followed all instructions properly (made sure the files were properly replaced, ejected the SD card safely, etc.).

Using admin:admin I am able to successfully open the first URL (http://192.168.1.242:8090/proc/cmdline):
`mem=64M console=ttySAK0,11

[2022-05-10 01:20] guino commented on #30
@richaardvark I see you’re making progress.. the 1080p devices usually don’t need patching but you need to use the URL posted with the firmware information like /StreamingChannel/101 etc

[2022-05-10 02:01] richaardvark commented on #9
For those of us new to this/who haven't used telnet since like Windows 95/98 lol, how the heck do I modify the file?  It seems like I either have to load some sort of small python editing program onto the device or have to export the file to my client/machine somehow and then use wget and an ftp server on my PC to then again send the file back to the camera?  So confused...

[2022-05-10 02:23] guino commented on #9
@richaardvark you can view/modify the config file like this:

login by telnet (assuming you configured it using provided steps)
execute `cp /home/cfg/tuya_config.json /mnt/mmc01`
remove card, place it on computer, edit line in tuya_config.json from "onvif_enable": 0, to "onvif_enable": 1 , save and eject card properly
insert card on device, wait a few seconds (i.e. 10s) so the card is mounted
exec

[2022-05-10 06:15] richaardvark commented on #9
Thank you very much!  I figured the cp command would be useful but I couldn't figure out how to find some sort of of file structure bridge between the two file systems but that makes sense now, using /mnt/mmc01.

I was also able to eventually figure out that the "vi" command/small text editor tool is present in Busybox/the camera's OS environment as well so I was able to use that to directly modif

[2022-05-10 08:04] richaardvark commented on #30
@guino Thanks!  Had to work on something else for a bit but trying to wrap this up now.  I'm having trouble though :(

I did enable onvif (I think?) in the tuya_config.json file but I'm not seeing any URL listed when I look at the http://192.168.1.242:8090/devices/deviceinfo URL (some info redacted):

`{"devname":"Smart Home Camera","model":"Mini 11S","serialno":"10278XXXX","softwareversion":"4.0.

[2022-05-10 19:34] guino commented on #9
@richaardvark is it working now? if so, that's all that matters

[2022-05-10 19:37] guino commented on #30
@richaardvark the vlc I have 'asks' for the username/password when required, but I will update the documentation -- glad you got it working.

To get 'snap' working I would need a zip of the ppsapp so I can find the address for you.

[2022-05-24 20:12] richaardvark commented on #30
Hey there :)  I'm sorry it's taken me so long to reply - have been dealing with a death in my family :(

I've tried to patch ppsapp myself and downloaded all the tools but I'm an idiot and have run into a problem and need your help lol. I already have my 720p camera working fine with snap and mjpeg working and so now of course I'm trying to have all of these same features on my 1080p camera. I've

[2022-05-24 23:12] richaardvark commented on #30
Hit a dead end: there is no pps_media_md_get_pic found in the code :(

[2022-05-26 13:12] richaardvark commented on #30
I made a new issue [here](https://github.com/guino/ppsapp-rtsp/issues/38#) if that's a better place for it. I'll attach my ppsapp.zip file there.

[2022-05-26 13:18] richaardvark commented on #9
rtsp is working but I can't for the life of me get snap or mjpeg to work :(  I tried patching it myself but ran into a dead end.  I made a new issue [here](https://github.com/guino/ppsapp-rtsp/issues/38) for my firmware/hardware version.

[2022-06-05 13:30] Tomatensaft9000 commented on #9
hi, how to telnet into camera?

[2022-06-05 22:15] guino commented on #9
@Tomatensaft9000 only way to telnet into the camera is to root it with the steps described here (Assuming you have a Merkury 1080P camera): https://github.com/guino/Merkury1080P#conclusion

[2022-06-06 03:53] andrewjbates opened #31 "Mini 11S / 4.0.7 - Can't install hack"
# Background

I recently applied the hack to a Mini 11S and two Mini 7Cs I bought a few months ago. Based on the success of those, I picked up another Mini 11S. This new one won't hack and it's not clear why.

A few notes:
* I've attempted this with 4 different SD cards, including the SD card I used to hack the first Mini 11S
* I have no trouble getting port 8090 open and doing `/proc/cmdline` and

[2022-06-08 17:17] guino commented on #31
@andrewjbates can you post a zip of your env, initrun.sh and ppsMmcTool.txt -- the files you need to install the hack are exactly these: https://github.com/guino/Merkury1080P/tree/main/mmc (so the env file should start with **hack=** which wasn't listed in your post). If you get to install the hack with just the 3 files in the SD card you'll know it worked because it will create a home directory i

[2022-06-12 06:58] andrewjbates commented on #31
@guino Based on your note that the env file was wrong, I decided to start over from scratch— re-downloading, restaging everything. I’m not sure what I did wrong the first time, but it all worked this time. Thanks for your help!

[2022-06-12 06:58] #31 closed

[2022-06-26 01:50] Jonathan-Garber opened #32 "Mini 11-S Firmware 5.2"
Did you ever get a chance to work on this model?
I was hoping to get two of these rooted to add to my system.
Mini 11-S
softwareversion":"5.2.5","hardwareversion":"M11S_A5_V10_MIS1","firmwareversion":"ppstrong-a5-tuya2_general-5.2.5.20211201"

[2022-06-26 16:34] guino commented on #32
@Jonathan-Garber There was one person with firmware 5.2.4 (not 5.2.5) which was able to root it, here is the discussion on that: https://github.com/guino/Merkury1080P/issues/23 -- the 1080P instructions and files were updated to support that version (https://github.com/guino/Merkury1080P#conclusion) you'd have to try it on 5.2.5 to see if it works as it is the first time I hear of that version.

[2022-06-27 01:25] Jonathan-Garber commented on #32
Oh, nice. I'll give it a shot with the updated files and let you know.

[2022-06-27 02:11] Jonathan-Garber commented on #32
Turns out I actually had the up to date files. I'm not at my PC right now but last thing I tried to hit was

`/proc/self/root/etc/init.d/S90PPStrong`

And just got a 500 error but hitting
`/proc/self/root/etc/init.d`

I get a blank page so I know I'm in the dir but there is no S90PPStrong

And pointers or ideas?

I had to leave the computer but I'll poke around more later.

[2022-06-27 03:00] Jonathan-Garber commented on #32
I am also noting that there is no ppsAppParts line in cmdline output for it to grab the MTDNum from
[code]

cmdline output

[code]

I tried to
[code]
just to see if it actually ran anything and I do not get that file on my card. So even though there is no ppsAppParts in cmdline, I don't even think it is getting that far. I don't think the camera is running initrun.sh

im still working on it, just

[2022-06-27 03:21] Jonathan-Garber commented on #32
This is a no go so far...

Tried many different ways to get a reset to run the scripts but they may have changed something here. It never seems to hit initrun.sh and cmdline output is always the same.

My echo to hackrunner is never hit so im fairly sure initrun.sh doesn't run on reset.

[2022-06-27 21:46] guino commented on #32
@Jonathan-Garber based on the information you provided I suspect your device is running RTOS firmware (not-linux). There's currently no solution/mods for that type of firmware as your only option would be to dump the firmware with a hardware programmer, modify it (if at all useful) and flash it back to the device. Most 5.x firmware reported so far has this RTOS firmware except for that one 5.2.4 f

[2022-07-16 12:46] jonesMeUp opened #33 "feature request: offline mode"
from your conclusion: "**I may still look into disabling the 'online' requirement for the device**"
**please** do so! i am living in an area with pretty unstable inet and i want to use my doorbell even if inet is down.

model	"Bell 8S"
softwareversion	"4.0.7"
hardwareversion	"BE8S_A2_V10_433"
firmwareversion	"ppstrong-a3-tuya2_general-4.0.7.20210513"
rooted: no

i can swith rtsp within the app to

[2022-07-16 23:17] jonesMeUp commented on #33
shame on me, i didn't find the entry in the wiki about 2 offline options.
thx for this great project, i will try option1 tomorrow and will send feedback.

[2022-07-17 14:39] jonesMeUp commented on #33
wow, it works :)
while i was testing my inet was offline for some time, but it was after the booting and i still got the video-stream and the bell in the offline times - so i can finally use the doorbell in my crappy inet area...
thx very much!

[2022-07-17 14:39] #33 closed

[2022-07-20 08:19] writemike opened #34 "Will this work on firmware version 5.2.8?"
Hello,
     I just purchased the Merkury 1080P Camera (MI-CW017-101WW) from Walmart, hoping to use this firmware for a local RTSP stream in Home Assistant. After trying several unsuccessful attempts, I noticed that the 5.x firmware version is not mentioned here and wanted to see if any has been successful in re-flashing a 5.2.8 firmware version to get a local RTSP stream?

I did succeed in getting

[2022-07-21 12:57] guino commented on #34
@writemike based on the information you posted it should likely work with the steps from https://github.com/guino/Merkury1080P#conclusion -- there's almost no risk in trying as it should not break anything if it doesn't work.

[2022-07-25 22:18] #30 closed

[2022-07-26 02:50] writemike commented on #34
Thanks @guino , I have spent a few hours messing around with it and haven't had any luck yet. I was more asking if anyone has been successful in re-flashing a 5.x firmware version to get a local RTSP stream? Have you heard of anyone being successful on the 5.x firmware version? Thanks.

[2022-07-26 15:16] guino commented on #34
@writemike someone was able to root this version and enable onvif:

ppstrong-a3-tuya2_lsc-5.2.4.20211015 | M16S_A2_V10_MIS | ea82f8dee86047a82404b9bdc715ae75 | Mini 16S
-- | -- | -- | --

The above is the only 5.x version for which I have received confirmation of rooting -- many 5.x firmware versions run non-linux firmware (so rooting won't work).

[2022-08-05 18:34] tateconcepts commented on #34
I have a similar one with one from Amazon too. The script does run as I see its contents on the SD card but I didn't see the ip=30... and nmap revealed no other access.

"devname":"Smart Home Camera",
"model":"Mini 7S",
"serialno":"105686742",
"softwareversion":"5.2.8",
"hardwareversion":"M7S_A5_V10_MIS1",
"firmwareversion":"ppstrong-a5-tuya2_general-5.2.8.20220222",

[2022-08-05 20:44] guino commented on #34
@tateconcepts unfortunately it is entirely possible that 5.2.8 one one device may run linux and 5.2.8 on another device runs rtos. It is also possible that new/emerging hardware uses different addresses from older device and thus won't work with the existing methods. If you've tried the 1080P process with a few different SD cards then the only way to know for sure would be opening the the device a

[2022-08-05 20:57] tateconcepts commented on #34
Thanks @guino I did follow the directions in (https://github.com/guino/ppsapp-rtsp) and I think I patched all three instructions. I clicked save and then copied the home directory and contents over and then started the camera. However, I still see the following at http://IP:8090/proc/self/root/home/cfg/tuya_config.json

{"version":1,"sleep_mode":0,"alarm_fun_onoff":0,"alarm_fun_sensitivity":1,"ala

[2022-08-05 21:38] guino commented on #34
@tateconcepts The zip files you posted have the same home/app/ppsapp file in them (no difference) -- the ppsapp is for a 4.0.6 firmware ( ppstrong-a3-tuya2_merkury-4.0.6.20210310 -- contrary to what you posted above as "5.2.8" ), so I assume you're working on a different device now ?

If you use Ghidra for anything it will **not** patch the ppsapp file for you. You have to use a hex editor for tha

[2022-08-05 22:27] tateconcepts commented on #34
That's odd. I don't think so.

Here's proc/cmdline

console=/dev/null mtdparts=spi0.0:256K@0x0(BOOT),3072K@0x40000(sys),4288K@0x340000(app),448K@0x770000(cfg),64K@0x7E0000(enc),64K@0x7F0000(sysflg) mem=64M memsize=64M pcbversion=S2S_A5_V10 sensor=mis2006mipi model_name=Mini-7S

devices/deviceinfo

{"devname":"Smart Home Camera","model":"Mini 7S","serialno":"105686742","softwareversion":"5.2.8","ha

[2022-08-05 22:44] guino commented on #34
@tateconcepts Can you try posting a zip of the ppsapp file only?

I have a lot of zip files downloaded that I look at but I know I downloaded it from above (several times) to confirm.

[2022-08-05 23:51] tateconcepts commented on #34
I think what occurred is I used the same SD card to attempt to start my older unit. It likely took the data from that older camera, which oddly enough stated it Done! when using /proc/self/root/mnt/mmc01/hack. At the moment, I'm able to get what I've shared but that's all. I cannot access any other aspects so far.

[2022-08-06 16:54] guino commented on #34
@tateconcepts you can use the same SD card but before using it on another device you have to format it -- if you mix files for different devices I have no idea what can happen and you can possibly damage the device.

If your older device (4.0.6 firmware) doesn't work without SD card it likely has some sort of hardware issue.

[2022-08-06 22:33] tateconcepts commented on #34
Thanks @guino. I'm pretty sure the device overheated, as some of the
plastic towards the top caved inward. The lights still work and it acts
like its connecting but I never see an address issued or even a wireless
association attempt. I did try that in the other device, it seems to not
have phased it a bit and will be returned shortly! Thank you for the
replies too! Great work on this, maybe I'll

[2022-08-10 15:44] tateconcepts commented on #34
Update, 2nd from Amazon. This supplier no longer has working cameras. There's also a subreddit on the geenie site along with other bug bounties that likely caused this to no longer work. I think it's time to do another SPI connection @guino and see if this is even possible on this model.

[2022-08-11 20:57] guino commented on #34
@tateconcepts let me know if I can help with anything. If you can find/post the reddit about the bugs I'd like to take a look too.

[2022-08-11 21:30] tateconcepts commented on #34
I was able to locate a suitable model, the same as described in the article and this worked with the 4.0.7 firmware. The bugs listed were probably already resolved. I saw them earlier in the year. https://github.com/IoT-SP-Lab/Merkury_Geenie_Disclosure

[2022-08-11 21:33] tateconcepts commented on #34
@guino useful tool being covered at BH this year. Might be worth looking into here https://github.com/onekey-sec/unblob

[2022-08-22 09:34] RomchikL opened #35 "Rtsp stream does not start without the internet"
Hello!

I rooted my camera (Laxihub M3-TY(Mini 7s)) and rtsp stream works perfectly. Thanks a lot, but I have one question.
When I turn on the camera with internet, the stream works, but
when I turn on the camera without internet, the stream doesn't work.

Can it be fixed with root?
[code]

[2022-08-22 13:02] wangxiaoming1986 opened #36 "Damn, I bricked my camera!"
HELP !

So the story goes like this. I have a tuya " Mini 7s" camera from CALEX, with the details below:

"devname":"Smart Home Camera","model":"Mini 7S", "serialno":"074934231","softwareversion":"2.9.6"," hardwareversion":"M7S_H1_V11_F23","firmwareversion":"ppstrong-c51-tuya2_calex-2.9.6.20200522",...

I followed [https://github.com/guino/BazzDoorbell/issues/13](url) and all went well, or partial

[2022-08-22 18:03] guino commented on #35
@RomchikL this is a known limitation -- the tuya application in the camera only fully starts after it connects to the tuya servers (using internet) so it can set the date+time on the device.

To work with the device offilne these are the options:
https://github.com/guino/BazzDoorbell/wiki/%5BHow-to%5D-Use-the-device-OFFLINE-(disconnected-from-tuya-servers)-%3F

[2022-08-22 18:16] guino commented on #36
@wangxiaoming1986

I have mentioned these a number of times:
-NEVER mix ppsapp versions -- your ppsapp should be version 2.9.6 for your firmware 2.9.6 (if you run 2.9.7, etc it will likely brick your device)
-NEVER mix scripts of different processes (i.e #2 with #13 and vice-verse) -- it just won't work and if you used #2 at all then you'll not be able to boot your device.

#13 is the preferred pr

[2022-08-22 18:46] #35 closed

[2022-08-22 21:59] wangxiaoming1986 commented on #36
@guino

Indeed, I remember reading all those admonitions, and I took them very seriously the first time. When I saw that even doing so the RSTP stream still didn't work (I used #13 at first), I began fiddling with the settings. I never ran a different ppsapp file, but I did run the "initrun.sh" from #13 after having rooted the device with #2. That's when my camera froze. It was missing the "initru

[2022-08-22 22:16] guino commented on #36
@wangxiaoming1986  post a zip of your SD card without the SDT folder and I can take a look.

I assume you used the existing patch for your firmware and it didn't work ? usually people forget to copy the patched ppsapp file to the root of the SD card or the file is incorrectly named (i.e. have .txt on the filename, etc) -- in windows that's pretty common because it likes to 'hide' extensions for fi

[2022-08-22 22:29] wangxiaoming1986 commented on #36
Yep, that's correct, I have downloaded the patch from here, as I found it specific to my firmware. Mine is correctly copied to the root of the SD card, and it has the correct file name, no extension, no nothing. It is named exactly like the one from /home/app, and also the correct size and correct MD5 hash.

I was willing to try and patch the ppsapp myself following your instructions, though I am

[2022-08-22 22:37] wangxiaoming1986 commented on #36
I'd be happy for you to say NO, just so that I am forced to do it myself, and learn something new, step out of my comfort zone, etc. If after trying my best I still fail, then I am happy to ask for help :)

[2022-08-22 23:22] guino commented on #36
@wangxiaoming1986 just post a zip of your ppsapp and I'll take a look.

[2022-08-22 23:46] wangxiaoming1986 commented on #36
[ppsapp - xiaoming.zip](https://github.com/guino/Merkury1080P/files/9398286/ppsapp.-.xiaoming.zip)

Thank you !

[2022-08-23 21:18] guino commented on #36
@wangxiaoming1986 can you try this patch ? (same steps as original patch)
[ppsapp-rtsp.zip](https://github.com/guino/Merkury1080P/files/9410690/ppsapp-rtsp.zip)

[2022-08-23 22:48] wangxiaoming1986 commented on #36
What a breath of fresh air after so much failed attempts (on my part) to make it work!!! I get a lovely stream from VLC and also telnet's netstat shows that port 8554 is open, whereas with the first patch it was not. IT WORKS ! I don't know how you did it, but it fascinates me that you managed to do that and you understand all that machine code that literally gives me a headache just to look at.

[2022-08-24 00:23] guino commented on #36
@wangxiaoming1986 thanks for the beers! I am glad it works now! I think there was just something wrong with that patch file, I re-did it and it should be good.

Remember to backup your SD card files!

If you want to use it offline check out his wiki:
https://github.com/guino/BazzDoorbell/wiki/%5BHow-to%5D-Use-the-device-OFFLINE-(disconnected-from-tuya-servers)-%3F

If you want to make it offline u

[2022-08-24 12:03] wangxiaoming1986 commented on #36
You are welcome! It might be a good idea to have the old patch for my firmware replaced with the one you just made, so that other people with the same firmware like mine can download the one that works and not the one that gave me headaches for a few days. :)

My working SD card has been backed up and deployed to the rest of my 7 cameras that I have, which luckily have all got the exact same firmw

[2022-08-24 17:11] guino commented on #36
@wangxiaoming1986 I already replaced the patch in the main list.

I'll work on the offline patch for you so you don't need the tuya cloud if you don't want to use it -- like I said you'll either need to setup a local ntp server OR allow access to an internet based ntp server then add `/mnt/mmc01/busybox ntpd -d -q -n -p ntp.server.com` to custom.sh to sync the time. There's some info on this post

[2022-08-24 17:23] guino commented on #36
@wangxiaoming1986 you can try this patch for offline startuo -- you CAN and SHOULD use this patch over your RTSP patched ppsapp file (in the root of the SD card), that way you will have RTSP and offline startup.

Please use the same steps as before to patch it (ROM patcher):
[ppsapp-offline.zip](https://github.com/guino/Merkury1080P/files/9418175/ppsapp-offline.zip)

Let me know how that goes.

[2022-08-25 14:59] wangxiaoming1986 commented on #36
@guino I have checked `/mnt/mmc01/busybox ntpd -d -q -n -p ntp.server.com` with my local pfsense NTP server in preparation for running the cameras fully offline, and the command works. I will add it to the script later.

I have also studied in more depth the proof of concept using MQTT and I must admit that the method introduces a lot of delay, at least that is what I understood from reading it. W

[2022-08-25 15:14] guino commented on #36
@wangxiaoming1986 so a few things to notice:
1-The patch does **not** block internet traffic -- all it does is allow the device to boot up completely (to enable RTSP stream) if there's no access to the Tuya servers. You have to block access to the tuya servers yourself using firewall, hosts file or just disconnecting it from the internet altogether and having it only in an isolated network.

2-The

[2022-08-25 21:02] wangxiaoming1986 commented on #36
@guino I like it that you really don't take no for an answer :)

 I apologise for the confusion and thank you for clarifying. The offline patch works correctly, the cameras were placed on an isolated network, so they do not see the internet. I can stream them all successfully. I am happy to keep them this way for the time being. If in the future I want them to be accessible again through tuya (for

[2022-08-26 03:31] guino commented on #36
@wangxiaoming1986 I haven't checked deep enough in the ppsapp code to see if the tuya phone app uses RTSP or some other (custom) streaming service. If it does use RTSP I am 100% certain it is a different code than the RTSP code we use with VLC -- this is likely the source of any differences in streaming (lag) when using the same network.

The ntp command should work if you place it right after the

[2022-08-26 16:26] wangxiaoming1986 commented on #36
@guino Fascinating ! The ntpd command works with "-n" dropped. It never occurred to me to type "ntpd --help" to see what other parameters there are.

Regarding the audio stream, I will read and learn more, for now I am happy with how the cameras work.

Thank you one more time for you help!

More beer to you!

[2022-08-27 20:28] guino commented on #36
@wangxiaoming1986 thanks for the beers! Glad you got the ntp thing working. I may try to research a little bit on the audio streaming when I have some time (which is hard to find).

[2022-08-30 10:55] wangxiaoming1986 commented on #36
I will also be looking at the audio stream. If I find anything before you do, I will post it here. It'd be interesting to find a way to make it work!

[2022-08-30 23:36] OfficialDevvCat opened #37 "LSC Indoor IP Camera Firmware v7.6.32"
Hey there!

I have bought this LSC Indoor IP Camera on the 30th of August 2022 and tried this method (combined with the Merkury720P method) with no success.

[<img src="https://action.com/hostedassets/CMSArticleImages/72/96/3200019_8712879155065-111_01.png">](https://action.com/hostedassets/CMSArticleImages/72/96/3200019_8712879155065-111_01.png)

I have literally tried everything that was stated

[2022-08-31 00:03] guino commented on #37
@OfficialDevvCat if the Merkury1080, Merkury720 and BazzDoorBell process didn't work with different SD cards then it may have a different address or not be linux OS. Usually ppsFactoryTool.txt allows the HTTP responses to work, but like you said, it is possible they closed some things or changed the user/password.

Until someone with the right tools can open it up and read the firmware (or connect

[2022-08-31 00:17] OfficialDevvCat commented on #37
100% true! What do you exactly need to use the uart port? I have soldering skills, yet I have no idea what I need. Would a Raspberry Pi 4 work? Because I have that laying around. Let me know. Maybe you want to discuss this on discord? DevvCat#0880

[2022-08-31 16:41] guino commented on #37
@OfficialDevvCat if you're willing to open your device and solder wires to it I can help trying to figure out if we can root it.

The first step would be to open your device and take some good pictures of the board so we can identify the UART pins.

The second step will be to solder some wires to the UART pins and connect GND, RX and TX to the GND, RX, TX of the pi board (GPIO15 and GPIO14 pins on

[2022-08-31 17:05] OfficialDevvCat commented on #37
Okay! I'm 100% be willing to open up the device but currently I'm in the middle of a move so that have to wait until I've got all my stuff! I will let you know as soon as possible when I got everything and ready to the hacking! :)

[2022-09-13 20:18] guino commented on #37
![Screenshot_2022-09-13_16-11-49](https://user-images.githubusercontent.com/4961810/190000509-a03536db-2e31-465e-b8da-713e369e3003.png)

Flash Chip is in marked in RED
UART pins are marked in BLUE

Either we need a copy of the firmware (using hardware programmer on the flash chip) OR we need someone to connect to the UART pins (TTL 3V) to capture an output log and/or see if there's any access to t

[2022-09-14 12:34] xraive opened #38 "Merkury Smart Security Camera (MIC-CW020-101W)"
I recently purchased this camera and I would like to know if there is a chance to root this device.  Anybody have experience with a similar version I tried the solution posted here [https://github.com/guino/Merkury1080P#conclusion](url) but wasn't successful.  The load address might not be right for this device.  Any suggestion would be greatly appreciated

curl http://admin:admin@192.168.1.5:8090

[2022-09-14 20:08] guino commented on #38
@xraive there are very few 5.x firmware versions reported as rooted so far. If you already tried the Merkury1080P and it didn't work then we would have to go thru the UART or Flash programmer route to get more information. If you just recently purchased this camera my recommendation would be to just return it and get something else that suits your needs, that is, unless you want to dig into it as

[2022-09-14 20:42] xraive commented on #38
Thanks for the feedback, I'd like to take it on as a challenge and learn something along the way.  If we're able to get it then it might help someone else as well.  It will be the first time so I would like to try the UART method it seems easier than trying the Flash programmer.  Any recommendations on a good product to purchase?

[2022-09-14 21:17] xraive opened #39 "Merkury 1080P (MIC-CW017-101W) - Firmware Version 4.0.7 - Patch Request"
I have this rooted and Onvif and RTSP are working, thanks to your instructions.  Unfortunately this device needs to be online for them to work.  When you have time, I would appreciate it if you can patch the app.  I'm attaching a zip file.

{
  "devname": "Smart Home Camera",
  "model": "Mini 11S",
  "serialno": "****************",
  "softwareversion": "4.0.7",
  "hardwareversion": "M11S_A2_V20_GC

[2022-09-14 22:09] guino commented on #38
@xraive for UART you need a USB-TTL adapter (3.3V) or a board like raspberry pi that has UART TTL Pins (3.3V) to solder the connections onto the device. Obviously you'll need soldering iron, wires, etc. It can be a little much for someone without experience as soldering wires on these fragile boards can damage it permanently for someone without experience. Similarly for flash programmer you usuall

[2022-09-14 22:09] guino commented on #39
@xraive I'll work on it as soon as I have a chance.

[2022-09-15 01:07] xraive commented on #39
No worries I appreciate your assistance.

[2022-09-16 16:30] guino commented on #39
@xraive try this patch with the standard instructions (https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080):
[ppsapp-offline.zip](https://github.com/guino/Merkury1080P/files/9585728/ppsapp-offline.zip)

[2022-09-16 16:39] OfficialDevvCat commented on #37
I ordered a SPI flasher and it will arrive in a few hours. When it is here I can dump the firmware and upload it so you guys can take a look at it! Give me a few hours and I will get back to you guys.

To be specific, this is the one I ordered: https://www.amazon.nl/gp/product/B08TVNPTQK/

[2022-09-16 17:27] guino commented on #37
@OfficialDevvCat I have that flash programmer and you need to be aware of 2 things:
1-It says it is compatible with 3.3V chips but it outputs 5V on some pins -- you should check it before you fry your chip/board. There's a 'mod' you can do on it to make it output 3.3V on all pins (I did the mod on mine and it works correctly)
2-You most likely will need to remove the chip from the board (OR at lea

[2022-09-16 17:48] OfficialDevvCat commented on #37
Okay so wait.
The camera needs to be turned on right? And then the clip needs to be attached before i turn it on. (If it outputs the same voltage) and then i need them both turned on and read the data? Or does rhe camera needs to be off and then attach the clip and read the data? Cause if the clip outputs 5v. I can make sure the clip does not output power and then connect the clip and turn on the

[2022-09-16 18:32] guino commented on #37
@OfficialDevvCat a flash programmer will read (and later write - if desired) the built in firmware on the device -- to be clear: it won't do anything with UART. For reading/writing the flash you don't turn on the device at all, you just plug the flash programmer on the chip and read (or write) its contents (like a USB drive). The issue is that (from experience) connecting the flash programmer to t

[2022-09-16 19:41] OfficialDevvCat commented on #37
Okay that is clear. Could you take a look at the picture and tell me what the best solution could be? It has a jumper for maybe possible ttls fu functinality?

https://imgur.com/a/I0ZPCF0

[2022-09-16 19:47] guino commented on #37
@OfficialDevvCat the chip should connect on the ‘25’ section, but like I said: this programmer has a 3.3V/5V jumper but when you set it to 3.3V it still outputs 5V on some pins ( RX/TX pins I think ). If you connect it without the mod to fix the voltage you may damage the board/chip (you have been warned).

[2022-09-16 19:52] OfficialDevvCat commented on #37
Okay, I will find online if there a different way to do that. What about the TTL functionality? Does that also output 5v? Or is it just a reading pin?

[2022-09-16 20:08] guino commented on #37
@OfficialDevvCat that flash programmer only has TTL functionality - in 3.3V or 5V selected by jumper switch, but this is only for flash chip read/write. The UART pins require a UART TTL (3.3V) adapter which is mostly available as a USB adapter. There’s no way (that I know) to use a flash programmer on the UART TTL pins, and there’s no way (that I know) to use the he UART TTL adapter on the flash c

[2022-09-16 20:20] OfficialDevvCat commented on #37
I just check the datasheet of a old 25xx chip from a dead GPU and it was a 3.6 max volt chip. And it i got to read the chip without issues and even got to write to it. I also looked up and this is an improved revision of the board with the 3.3v fix. Should I now extract the data from the camera?

[2022-09-16 20:24] guino commented on #37
@OfficialDevvCat sounds good if you say it’s a fixed version you can try - again, from my experience it may not work while the chip is soldered on the board. I would avoid keeping the flash programmer hooked up for a long period just in case the voltage is wrong, so hook it up, try to read, remove it if fails, wait a bit hook up, try reading again, etc

[2022-09-16 20:25] OfficialDevvCat commented on #37
I just dumped the chip, You can download the dumped bin file from here https://www.mediafire.com/file/31ms1k4kgqxxlh6/Smart_Indoor_IP_Camera.bin/file
Let me know what I can do or what you're planning to do.

[2022-09-16 22:10] guino commented on #37
@OfficialDevvCat well, assuming your camera still works normally, I would try this first:

Follow the steps from:
https://github.com/guino/Merkury1080P#conclusion USING THE ATTACHED 3 files: [7632.zip](https://github.com/guino/Merkury1080P/files/9587283/7632.zip) -- that is, instead of what's posted on the link (I changed the address changed to A0008000 on env and ppsMmcTool.txt files). Assuming t

[2022-09-16 22:13] OfficialDevvCat commented on #37
@guino I already tried that the first time. But that didn't work. Wasn't that the main reason why I dumped the chip?

[2022-09-16 22:18] OfficialDevvCat commented on #37
@guino Just one more question. Do I have to flash the chip afterwards to make it work?? Cause the issue is that the SPI Flasher does not work anymore for some reason?! The Red power light is on and so is the Yellow RUN led. And it is not found by windows anymore?! I don't hear a USB Connected sound. Very very strange. So I'm going to return it tomorrow and ask for a new one which will take a few d

[2022-09-16 22:29] guino commented on #37
@OfficialDevvCat If you tried A0008000 and it didn't work I'll have to try and dig out more from this firmware file.

Is the camera still working ? (boots up, etc) ? if not you may have damaged it somehow. It may just need a power cycle of your machine to reset the USB bus (if it used too much power).

[2022-09-16 22:39] OfficialDevvCat commented on #37
Camera works perfectly fine! I can try rebooting my PC but I don't think it's really going to work as it was plugged in a powered hub. Tried a different pc and used my powerbank. Yellow light stays solid and not connected.

[2022-09-16 22:42] OfficialDevvCat commented on #37
But again, Do I need to flash stuff again onto the chip? Cause I can't read anywhere what to do after the edit. I assume it has to

[2022-09-16 22:53] guino commented on #37
@OfficialDevvCat the 'Read' process doesn't change anything in the chip, so to work 'normally' you won't have to flash anything back. If I can unpack the firmware we may be able to find something to change to root the device (I haven't been able to do it yet) -- in that case you would need to be able to write the changes with the programmer (meaning it would need to work again).

[2022-09-16 23:05] OfficialDevvCat commented on #37
I tried to find some variables from the link you sent me but it can't even find the "Loadable segment". Maybe you could take a look at it if you've got the time for it? Would appreciate it!

[2022-09-17 01:52] OfficialDevvCat commented on #37
@guino Let me know if I can do anything as I'm a programmer and know my way around some of this stuff! Would be very cool to get this thing streaming a signal outside the app. :) Have a great weekend in advance and lets hope for some good results on this thing

[2022-09-17 01:57] guino commented on #37
@OfficialDevvCat I will try to see if I can get anything out of it - may need to try a different tool.

[2022-09-17 02:44] guino commented on #37
@OfficialDevvCat I downloaded a different tool and then I noticed there's an issue with your flash file -- it's only 2Mb when it should be at least 8Mb (some devices have 16Mb) -- this is likely the reason why I could not extract anything out of it. This may have been something like selecting the wrong size of chip when you did the 'read' or perhaps an issue identifying the chip size (or even just

[2022-09-17 02:58] OfficialDevvCat commented on #37
I did not have any success with that sadly. The http server is sadly disabled to get any kind of useful info from it.

U have to wait until sunday until I got my new reader to try it out once again.

[2022-09-18 16:23] OfficialDevvCat commented on #37
@guino I just received my new SPI flasher. I will dump the whole chip (8MB) in an hour or so. I will lookup the chip model number and see what settings I need.

[2022-09-18 20:17] LucaNeel opened #40 "Cannot get Bullet 4S to work with hack"
I've tried several of your guides and issue explanations to get me through it.
This is my camera information:

{
  "devname": "Smart Home Camera",
  "model": "Bullet 4S",
  "softwareversion": "2.10.5",
  "hardwareversion": "B4S_V10_H1_2063",
  "firmwareversion": "ppstrong-c51-tuya2_lcs-2.10.5.20210806",
  "pid": "aaa",
}

I've tried Merkury720 and Merkury1080p with the 3 overwritten files, all lea

[2022-09-18 20:19] LucaNeel commented on #40
Also, I have a # infront of MDNUM, and this is my cmdline return:
mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsAppParts=5 ppsWatchInitEnd

[2022-09-18 20:20] OfficialDevvCat commented on #37
@guino I just noticed the TX/RX rail is on 4.5V. I will have to wait until Wednesday till I got my soldering station.

[2022-09-18 21:22] LucaNeel commented on #40
Sorry, I am new to Github, I keep closing the incident on accident.

By executing steps from https://github.com/guino/BazzDoorbell/issues/13 by finding the files, I was able to boot and find the ip=30 after my proc/cmdine.

One thing to note is I could not get the /tmp/hack page to show up, gave me an error 500, I've heard you say it doesnt really matter as long as the hack folder is there in diff

[2022-09-18 21:41] guino commented on #40
@LucaNeel post a zip of your SD card contents (without the SDT folder) and I will take a look.

[2022-09-19 16:16] LucaNeel commented on #40
[sdcopy.zip](https://github.com/guino/Merkury1080P/files/9600677/sdcopy.zip)
I attached the folder, I cant seem to find an SDT folder by the way.

[2022-09-19 16:36] xraive commented on #39
My apologies for the delay I was away.  Thank you for your help on this.  I will try it out tonight and let you know.

[2022-09-19 19:11] LucaNeel commented on #40
Alright, when I am home tomorrow morning I will apply your comments. I didnt know you had to/could link them, anyways, I used the Smartlife app for the cameras initially, then I connect them to home assistant via Tuya IoT platform.

When I remove the ppsFactoryTool.txt file the lamp stays red and doesnt come up when I check the deviceinfo page. How do I know if it boots properly when I remove the

[2022-09-19 19:28] guino commented on #40
@LucaNeel The process you followed to get your ppsapp file is what we call rooting -- that is, gives you full access to the device to make changes, etc. Your device is rooted otherwise you'd not have your ppsapp file.

You don't have to use snap/mjpeg/play if you don't want to -- configuring the files just gives you the ability to use these features if you want to. snap.cgi-gives you a quick snaps

[2022-09-20 21:14] LucaNeel commented on #40
@guino thanks I understand the things I'm doing now, I managed to get it working and get the RTSP stream up correctly in VLC and eventually my Home Assistant dashboard. Thanks a lot for taking the time to help me, the quick responses and the initial figuring out all of this, good luck with your future projects

[2022-09-20 21:14] #40 closed

[2022-09-20 23:17] xraive commented on #39
Just want to say thank you once again.  Tested the patch and it works great.  I was lucky enough to get a bunch of these for really cheap and I'm happy that they can run offline.

[2022-09-21 03:01] guino commented on #40
@LucaNeel  Thanks for reporting back!

[2022-09-21 03:02] guino commented on #39
@xraive thanks for reporting back!

[2022-09-21 03:34] xraive commented on #39
@guino is it possible to run it without SD card?  This devices rootfs is writable.

[2022-09-21 06:27] markgruenke opened #41 "Merkury Mi-CW017 help"
**Hello**. I have been reading thru this repository along with the one for the 720 version for the past few days now, trying to read all the different posts and comments about rooting my camera. There is so much info that is linked from one post to another to another, my head is spinning trying to figure out where to start. I was wondering if you could summarize all this info from the last two yea

[2022-09-21 15:22] guino commented on #39
@xraive most tuya devices I have seen the rootfs is writeable but once you reboot any changes you made are lost (like a ram drive) + there's usually not enough space to save the files we need (i.e. busybox, patched ppsapp, etc). If you make changes to the rootfs and they persist after a reboot then it could be possible to run it without the SD card, that is, assuming there's enough space available

[2022-09-21 15:49] guino commented on #41
@markgruenke the information we have is basically a result of a lot of trial and error over time with different devices, but the main guide is this one:
https://github.com/guino/BazzDoorbell/issues/2

Basically it's this:
-create ppsFactoryTool.txt (as described here: https://github.com/guino/Merkury720) to make sure you can access the URLs from the device (specifically /proc/cmdline and /devices/

[2022-09-22 12:23] OfficialDevvCat commented on #37
@guino I just made a new dump! Desoldered the chip as I was having issues. And dumped the whole 8MByte/64MBit https://www.mediafire.com/file/toofgq5d16pgdf5/ipcam_new.bin/file

[2022-09-22 17:25] guino commented on #37
@OfficialDevvCat At a quick first look this device seems very different than what I have seen before -- I'll have to dig in with more time to see if there's anything we can do -- since you have a programmer and the chip outside, I likely can modify the firmware so you can flash it back and have it 'rooted' but I'm not sure what all is available on it yet. I assume you'd like to enable RTSP if poss

[2022-09-22 21:41] OfficialDevvCat commented on #37
I would like to have rtsp only. I think thats the most simple and will use external software to manage it all. I did try rtsp urls and that didn't work eighter. If you want we can go into a discord call (if you have the time) so we both can take a look at it and talk about it if you want?

[2022-09-23 17:42] guino commented on #37
@OfficialDevvCat Can you try using https://sourceforge.net/projects/onvifdm/ with user **admin** and password **12345678** ? may be worth trying the RTSP urls with **admin:12345678** as well? I would also try **admin** with password **123456** (on onvif and rtsp) as I have seen references to these in the code. Additionally if there's any username/password you configured in the app (for anything) I

[2022-09-23 18:08] OfficialDevvCat commented on #37
So you want me to solder the chip back on and try that?

Btw, i cannot add it to the tuya app. I tried but it didn't work

[2022-09-23 18:15] guino commented on #37
@OfficialDevvCat If the chip is out, lets hold out on that request. I'm still trying to find something we can try to change on the firmware.

On the https://ipc-us.ismartlife.me/login -- when I log in with the tuya app it shows my cameras in it, but it shows 'No WebRTC support' for both of them -- so it logs in but my devices don't support it. What did you get when you tried to login ? if you're i

[2022-09-23 18:44] OfficialDevvCat commented on #37
The thing is that i have my camera not connected to the tuya app. I used the LSC app and i removed it on there as well... I can still try to login but not a lot would happen

[2022-09-23 19:12] guino commented on #37
@OfficialDevvCat most tuya compatible apps are basically just a rebrand of the tuya app (have similar look and feel, features, etc). On the tuya app I click on the "Me" section at the bottom as seen here:
![image](https://play-lh.googleusercontent.com/UkGCWYXfyYw3sYKnDvKe3sRW78GhD0sQ40DPXrvw6fJueBTJr_o9iLkbXVJHCWDVRDk=w5120-h2880)

then click on a little bar code scanning icon at the top like on t

[2022-09-23 20:30] OfficialDevvCat commented on #37
@guino we're in luck! The camera is still in the LSC app and I can scan the qr code. I will do that in an hour or so as >mI'm not home yet

[2022-09-23 20:33] OfficialDevvCat commented on #37
I kust did it quickly on my phone and this is what I see https://imgur.com/a/xNmpztr

[2022-09-23 20:57] guino commented on #37
@OfficialDevvCat If you hover on that text ‘LDC Smart Indoor Camera’ and it doesn’t display a popup like ‘WebRTC not supported’ then most likely you can use that page to view the camera feed when it’s online. I believe some people got a way to extract that feed and re-stream it elsewhere (my devices are not compatible so I don’t know much about it).

[2022-09-23 21:10] OfficialDevvCat commented on #37
@guino i just tried the site on my pc and it said "Cross region login not supported" ...

[2022-09-23 21:13] OfficialDevvCat commented on #37
@guino on my phone it does not seem it is showing a popup. I don't know for sure though but I want to look at it on the pc. I kinda want to solder the chip back on tomorrow and see if that page works and to see if I can connect it to tuya. But I don't want to use cloud based stuff... I want to use it localy if that is possible.

[2022-09-25 14:11] EpicLPer commented on #37
I just got a LSC Outdoor one and haven't tried any of the methods yet, but I doubt it'll work. Just had to update the camera to even use it, but I'd also be willing to try and hack it since I have soldering skills and so on in case you need dumps or anything :)

[2022-09-25 14:41] EpicLPer opened #42 "LSC Smart Outdoor (IP) Camera - Hack not working"
Heya!

Bought a LSC Smart Outdoor (IP) Camera yesterday and tried this hack, but sadly it didn't seem to work. I added the camera to Tuya and had to update it before being able to use it (which probably was a mistake in hindsight).

![image](https://user-images.githubusercontent.com/8442196/192149609-a1c3d70a-bea6-484f-955d-09eca376161f.png)

The Firmware version on it right now is 2.10.36, and th

[2022-09-26 07:12] OfficialDevvCat commented on #37
@EpicLPer
I think you should wait for us to complete this one. It's most likely they patched all the LSC cameras the same way.

[2022-09-27 16:09] guino commented on #42
@EpicLPer If it has 2.10x firmware you need to try this one: https://github.com/guino/BazzDoorbell/issues/13 -- did you try that one already ?

[2022-09-27 16:14] guino commented on #37
@OfficialDevvCat  I will rebuild a firmware for you to try with the following:
1-root password changed
2-telnet started by default
3-patched ppsapp (to hopefully enable RTSP though I am not sure it will work as the code is all different)

I just have to find a bit of time to work on it.

[2022-09-27 16:18] EpicLPer commented on #42
Not exactly sure what I should try there from that issue? Or do you mean instructions from the repo itself?

[2022-09-27 16:23] guino commented on #42
@EpicLPer there's a 'Process' section on that issue, just follow it and see if it works -- that's the process that has worked for 2.9.x and 2.10.x firmware to root the device and get a ppsapp file we can patch for RTSP.

[2022-09-27 16:24] OfficialDevvCat commented on #37
Awesome! I would really appreciate it! If you got something. Let me know so we can test it out! :)

[2022-09-28 22:09] guino commented on #37
[ipcam_hack.zip](https://github.com/guino/Merkury1080P/files/9669153/ipcam_hack.zip)

The above firmware has a new rootfs with these changes:
1-added a user/password: hack/telnet (root password is unchanged)
2-telnet should start by default on port 24 (no user password required)
3-patched ppsapp so it force-runs the RTSP start code (unsure if it will make a difference)
4-a command to call custom.s

[2022-09-29 09:35] EpicLPer commented on #42
When doing the above via the URL `http://admin:056565099@10.1.0.215/proc/cmdline` it simply says "Connection Refused".

[2022-09-29 10:08] OfficialDevvCat commented on #37
Thank you very very much! I will be flashing it right away and putting back the chip on the system! I will notify you by editing this message!

[2022-09-29 13:43] guino commented on #37
@OfficialDevvCat it sounds like you could be having an issue with cable, programmer or chip. We have your original flash, writing should have been as easy as reading it. I am unfamiliar with the tools you’re using, but if it is not able to verify the data it is likely not writing it correctly - you may want to try selecting a different 25/64 chip from the list if available. You may also want to ch

[2022-09-29 13:45] guino commented on #42
@EpicLPer did you do it after creating a ppsFactoryTool.txt file? 2.10 firmware is know to require that file before URLs work.

[2022-09-29 13:46] OfficialDevvCat commented on #37
I got it working. FINALLY! I erased the chip and reprogramed it. Gonna desolder it now and putting back on the board. I will let you know how it goes! Do i have to make that file on the sd card in order to mske telnet work?

[2022-09-29 13:46] EpicLPer commented on #42
Is it possible to just leave it empty? Afaik I have one on the SD Card right now yes, but I'm not entirely sure what to do or what to put in it sorry ^^"
Those cams seem very different from other cameras so far.

[2022-09-29 13:50] guino commented on #37
@OfficialDevvCat no, the product.cof file is just something to try later - Telnet should be enabled by default on the firmware I posted (on port 24). If you have time to try later that product.cod file may enable the normal Telnet on port 23 (this would help people without a hardware programmer to root the device).

[2022-09-29 13:54] guino commented on #42
@EpicLPer this is the information regarding ppsFactoryTool.txt : if you don’t do it correctly it wont work. It may be worth trying port 8090 as well (from 4.x firmware) - it’s always a surprise with tuya firmware.

Special note for 2.10.0 firmwae: This firmware (and newer) have port 80 closed by default -- so to use the [http://admin:05656](http://admin:5656/)... links below you have to RIGHT CLIC

[2022-09-29 13:57] EpicLPer commented on #42
Will try this once I'm home, thanks! :)

[2022-09-29 14:14] OfficialDevvCat commented on #37
I flashed the hacked file and soldered the chip. First it didn't work, was caused my a loose pin. Soldered it better on the board it it worked and has been set up in the LSC app. So it is not dead YET! haha. The only thing is that the screen is a bit purple ish for some reason?! I'm gonna test the telnet thing now, if that works we're in! I will be buying a new factory default camera today or tomo

[2022-09-29 14:19] guino commented on #37
@OfficialDevvCat I would not buy a new camera just to try the telnet thing -- for one: you can test if the telnet thing would work with your existing camera, second: I don't know the default root password, it may be hard to find it -- someone with a powerful GPU and john the ripper may be able to find it (I only have a laptop without powerful GPU in it). The default passwd file is this:
[code]

[2022-09-29 14:20] EpicLPer commented on #37
Can offer mine if you guys need one and tell me how to :) Have a 3080 Ti.

[2022-09-29 16:35] guino commented on #37
@OfficialDevvCat nothing I changed software wise would be capable of changing color/tone on the picture -- this would have to be something hardware side (lens/sensor/etc). You obviously can load the original firmware back in the chip and verify that won't change the picture in any way, but it would be kind of wasted time.

I believe I may have made a mistake on the command to start telnet automati

[2022-09-29 16:39] OfficialDevvCat commented on #37
@guino Okay clear I will TRY that but I'm not sure if it will work. Lets hope for the best. I also saw this in UART
[code]
I will update with anything I got

[2022-09-29 16:41] guino commented on #37
@OfficialDevvCat that not found error is exactly why telnet didn't start -- it should have bin /sbin/telnetd instead of /bin/telnetd

[2022-09-29 16:45] OfficialDevvCat commented on #37
@guino Pressing `n` or `CTRL+C` did not cancel anything sadly. I did saw something like this aswell
[code]
I will include a file of all the output the UART is outputing. Let me know if you found something interesting.
https://pastebin.com/u01yqLer

[2022-09-29 19:50] guino commented on #37
@OfficialDevvCat you can add whatever you want in the SD card (assuming the application doesn't reformat it).

The file I made a mistake on is `/usr/init/app_init.sh` -- but this is in the flash memory so unless you re-flash it there will not be any way to modify it -- you can safely ignore that error.

Did you try the custom.sh file at all ? you don't need to do it if the telnet is already workin

[2022-09-29 19:52] guino commented on #37
@OfficialDevvCat Additionally, is your WHOLE camera feed purple ? or just part of it -- if it is not just part of the picture, then it could be the IR filter usially in these devices that is stuck in the wrong position ? maybe you forgot to connect the wire or connected it inverted ? just thinking or possible issues.

[2022-09-29 19:54] OfficialDevvCat commented on #37
I did try the custom.sh file but did not do anything sadly. The product.cof did work though! And u said that that file was used in the factory flash.

[2022-09-29 20:07] EpicLPer commented on #42
Sadly this didn't seem to work :( The Camera still connects to my IOT WiFi instead of the normal one, despite me putting my normal one into the config to check if it even seems to read the file.
The SD Card is properly detected in Tuya tho and shows up just fine, so I doubt it's an incompatible SD Card.

[2022-09-29 20:26] EpicLPer commented on #42
Tried a different SD Card now too, sadly same result.

[2022-09-30 12:44] RomchikL commented on #19
Hello!

I have the similar cam but the fw is ppstrong-a3-tuya2_laxi-4.0.6.20210326.

Could you clarify the address for snap/mjpeg for this camera:
{"devname":"Smart Home Camera","model":"Mini 7S","serialno":"100372114","softwareversion":"4.0.6","hardwareversion":"M7S_A2_V10_F37","firmwareversion":"ppstrong-a3-tuya2_laxi-4.0.6.20210326","identity":"M1F0079H3H01700027","authkey":"XXX","deviceid":"pp

[2022-10-04 03:32] guino commented on #19
@RomchikL try these addresses:

snap/mjpeg.cgi address: 0x37c354
play.cgi address: 0x37cb60

[2022-10-04 03:41] guino commented on #42
@EpicLPer sorry you had no success, every now and then we have reports of issues like this where multiple SD cards and multiple attempts don't work. Many people have reported success after repartitioning/reformatting the SD Card (trying windows/linux/etc). In any case you're welcome to post the SD card contents (from your attempt) so I can review to check if there's anything wrong.

[2022-10-04 11:03] RomchikL commented on #19
@guino yep, thanks a lot. These addresses work fine.

To avoid creating a separate issue, could you answer the following questions here.
1. Is it necessary to clear the mqtt database when using integration with HA (to prevent the hard drive from overflowing)?
2. Is there an easy way to use commands on the camera from HA (via mqtt or smth else), e.g.
to play a (custom) sound when a condition is tri

[2022-10-05 13:53] OfficialDevvCat commented on #37
@guino could you possible explain me how you changed the firmware? As I bought another device but its a  it different from the once in the thread picture.

[2022-10-05 15:46] guino commented on #19
@RomchikL I

1. 'm not sure what is the "mqtt database" you mentioned -- my understanding of mqtt is that they're just temporary messages between deivice/host unless HA is keeping a log of them (which is only helpful for debugging). If HA is keeping these messages then you should probably delete/disable them unless you're debugging. On the device itself there are video recordings that may be saved

[2022-10-05 16:19] OfficialDevvCat commented on #37
Would be very appreciated! As I got the LSC smart Rotateable Camera now!

[2022-10-05 16:51] RomchikL commented on #19
@guino,  Thank You!

1. Now I understood how mqtt works (that the messages are temporary). Ya, I configured everything except cleaning. Now I'm trying to configure it. My ppsapp is different from yours, so I need to fix the config.

2. I saw this instruction, but I thought an additional command is needed (record an event to the log). Well, I'll test with this tutorial.

Here are keys to the config

[2022-10-05 16:59] OfficialDevvCat commented on #37
![](https://www.action.com/_next/image/?url=https%3A%2F%2Faction.com%2Fhostedassets%2FCMSArticleImages%2F74%2F27%2F3007325_8712879151210-111_03_20220823124939.png&w=640&q=75)

This is the camera, Scanned all the ports and only port 6668 is open, same like the other one.

[2022-10-05 17:17] guino commented on #37
@OfficialDevvCat did you try product.cof file by itself ? it may enable telnet -- problem is finding the password (you can try from known lists like this one: https://gist.github.com/gabonator/74cdd6ab4f733ff047356198c781f27d )

[2022-10-05 17:41] OfficialDevvCat commented on #37
@guino I did not try that YET. I do want to mention something that has not been mentioned anywhere else. Check out this link https://developer.tuya.com/en/docs/iot/webrtc?id=Kacsd4x2hl0se I did everything what it said and i got a RTSPS stream working with sound! The only issue I'm having now is converting it into a RTSP stream. If that is somehow possible then I'm 100% set and I can make a repo fo

[2022-10-06 18:05] OfficialDevvCat commented on #37
Well im gonna try hashing the password. Could you possibly try to explain how u mounted the spi dump or maybe how u did it?

[2022-10-06 18:09] guino commented on #37
@OfficialDevvCat the /etc/passwd file for the firmware you sent me before is:
`root:IsHLvr/zaeG2U:0:0:root:/:/bin/sh`

To extract the contents of the firmware I just use `binwalk -e -M flash.bin`

I know I still have to provide you with the commands I used to rebuild the firmware, it's not a lot (like 3-4 commands), I just have to re-do them to make sure they're correct (I usually don't memorize o

[2022-10-06 18:24] OfficialDevvCat commented on #37
Allrighty! I will try that on the bin file that i still have. And I shall wait on those commands. I will also try to find stuff online in the meantime.

Also, there is an update for that camera available but it does not update for some reason. So it is probably too out of date for the `product.cof` file as that didn't work sadly. Not sure if it 100% didn't work or if I did something wrong.

I'm al

[2022-10-06 18:56] guino commented on #37
@OfficialDevvCat if you have a powerful machine this one should be able to try and find the password: https://github.com/openwall/john -- my laptop is not nearly enough to do it.

[2022-10-06 19:31] guino commented on #37
@OfficialDevvCat so here is how I built your image:

1-Unpacked the firmware file with `binwalk -e -M flash.bin`
2-go into the extracted `squashfs-root` directory and make any changes you need -- you should make only minor changes. If you try adding files or adding too many commands on existing scripts you may end up not having space for it in the firmware, so keep changes to a minimum. On your fi

[2022-10-06 19:36] guino commented on #42
@EpicLPer for 2.10.x firmware the ppsFactoryTool.txt file is all you need to **enable URLs** like (adjust IP accordingly):
http://admin:056565099@192.168.x.x/proc/cmdline (port 80 -- most devices)
http://admin:056565099@192.168.x.x:8090/proc/cmdline (port 8090 -- some devices)

If you can get one of the two above working then we can try adding more files to see if it can be rooted. If neither abov

[2022-10-06 19:47] EpicLPer commented on #42
Will try one more time, I don't have to hold the Reset button or anything right?

[2022-10-06 19:53] EpicLPer commented on #42
Just tried again holding no buttons or anything, and it still doesn't connect to my normal WiFi and instead stays on the IoT one.

Here's the ZIP (with changed credentials): [cam_sd.zip](https://github.com/guino/Merkury1080P/files/9728154/cam_sd.zip)

[2022-10-06 21:10] guino commented on #42
@EpicLPer your ppsFactoryTool.txt file is fine -- are you sure the SD card if FAT32 formatted ? maybe try to use the phone app to format it then copy the ppsFactoryTool.txt file to it. If the SD card isn't formatted in a compatible format the device will simply ignore it.

[2022-10-06 21:11] EpicLPer commented on #42
Did format via the app yeah, but sadly still doesn't seem to work.

[2022-10-07 15:04] guino commented on #42
@EpicLPer it looks like 2.10.6 is the last 2.10.x version we had rooted, They may have made more changes in this 2.10.36 to block more things -- there's no way of knowing for sure unless someone gets a firmware dump (which requires opening device + removing the flash chip to read it).

[2022-10-07 15:05] EpicLPer commented on #42
@guino I'm "okay" when it comes to hot air soldering, but I'd have to buy some hardware to read the flash then, but would be willing to :) Always love some challenges!

[2022-10-07 15:08] guino commented on #42
@EpicLPer if you get the firmware I can definitely look at it. Just be careful when selecting/using a flash programmer to make sure it doesn't have 5V on 3.3V pins (many CH341a programmers out there have this issue -- and there's a mod to fix them).

[2022-10-07 15:11] EpicLPer commented on #42
Would something like this work then?

https://www.amazon.de/DollaTek-Programmierer-ch341a-Adapter-Buchse/dp/B08HP4X326/ref=sr_1_4?keywords=CH341a&qu=eyJxc2MiOiI0LjgwIiwicXNhIjoiNC4zNyIsInFzcCI6IjQuMjQifQ%3D%3D

[2022-10-07 15:23] guino commented on #42
@EpicLPer that is basically what I have and I did have to fix the programmer like this: https://www.youtube.com/watch?v=-ln3VIZKKaE

[2022-10-07 15:23] EpicLPer commented on #42
I also have a ST-LINK and JR Programmer 2 still laying around from other projects but doubt I can reuse them here? I'm quite a beginner with these kinda of things

[2022-10-07 15:54] EpicLPer commented on #42
Took the camera apart now, already ordered the flasher :)

Noticed it has TX and RX on it tho, is there no possibility to connect vis serial and dump it?
![405148E3-F82D-4625-AF2E-32285F066B9D](https://user-images.githubusercontent.com/8442196/194596218-3c5fb1ee-4732-4c73-bff4-b6c7f634b358.jpeg)
![542A9A11-872B-41A6-B42C-1F01387A98D3](https://user-images.githubusercontent.com/8442196/194596250-820

[2022-10-07 16:09] EpicLPer commented on #42
I've read up on this a bit and apparently it's also able to dump such chips via an Arduino? If so could try that, or wait on proper hardware and be less likely to damage things ^^"

[2022-10-07 16:24] guino commented on #42
@EpicLPer great pictures. The XMC chip beside the RX/TX pads is the flash chip you need to read. The RX/TX pads (along with GND at the bottom would be for TTL-UART access which can sometimes be helpful, but you would need a TTL-UART 3.3V adapter (USB or serial), or a board with serial TTL connections (i.e. Raspberry Pi, etc).

[2022-10-07 16:26] EpicLPer commented on #42
Do have that :)

Do you have Discord or Telegram by any chance to maybe easier talk there for a but until I have some results I can post here again? Normal conversation always bloats issues up a bit.

[2022-10-07 16:30] guino commented on #42
@EpicLPer if you have a Pi and you're willing to solder some wires to the board we can try to dump the flash to a SD card using the bootloader. Send me an email directly (my email is on my github profile) and we can exchange contacts.

[2022-10-10 23:11] xraive commented on #39
I've using this camera offline for quite some time now and it's been great.   So far I've noticed one issue and would like to see if you might have encountered it.  I'm unable to disable the watermark even if run the "/mnt/mmc01/set watermark_onoff 0" command.  However if I use the app to disable the watermark it works, but only until the device reboots.

[2022-10-13 18:43] mrwiwi commented on #42
Exact same results with LSC Smart Doorbell ! Will follow your progress with attention :)

[2022-10-13 18:46] EpicLPer commented on #42
We already got RTSP with Audio working, but it's via a test-mode of that camera.
You can test and see if yours is the same as mine (which we used to test this on) by creating a file called `_ak39_factory.ini` with nothing inside it on the root of the SD, and see if it screams at you in Chinese then which means it entered "Factory Test Mode".

Nothing will work tho and it won't connect to WiFi, thi

[2022-10-14 08:40] mrwiwi commented on #42
Will try when i'm home with some time, thank you !!

[2022-10-15 11:05] qba89 commented on #42
I confirm, after placing the _ak39_factory.ini file when launched, the camera screams in Chinese and does not connect to any Wi-Fi. This applies to a camera like in #1. I am waiting for a working version, and thank you for your work

[2022-10-15 11:11] EpicLPer commented on #42
That's good news!
There's another file called `_ht_ap_mode.conf` which then tries to load a hostapd binary from the SD Card, which @guino all figured out and built a custom one that in turn then loads a script off of the card too to further load things :)

I'll try to create a "proof of concept" script that loads RTSP up and all at some point when I have time, it's a bit hard tho cause hostapd get

[2022-10-17 19:20] jstam84 opened #43 "tuya_config.json missing in LSC Smart Home Camera Mini 16S"
Got the same camera as [this one](https://github.com/guino/Merkury1080P/issues/6). It looks as though the tuya_config.json file is missing from the app.tar.gz that's untarred from /dev/mtdblock5. I checked this via telnet btw..  Patched ppsapp is running on the camera, but no ONVIF/RTSP.

Two questions;
1) Is this expected behaviour in this (and/or other) rebranded cameras?
2) can someone give me

[2022-10-17 19:38] jstam84 commented on #43
Okay, stating the obvious here. You have to setup the camera with the LSC app first! This is missing from the docs imho ;)

Issue can be closed

[2022-10-18 18:05] RomchikL opened #44 "Snapshot quality"
Is it possible to control the snapshot quality?

I have 1080p camera, but snapshots (via snap.cgi) are 640*360 pixels (96 DPI).

[2022-10-24 14:36] guino commented on #44
@RomchikL unfortunately I have tried to increase the resolution of the snapshot and it always failed. The only suggestion I can make is use a computer/pi to provide snapshots from the device's RTSP feed -- I have something like this for one of my devices and you can see how it's done here: https://github.com/guino/rtsp2jpeg

[2022-10-24 14:38] guino commented on #43
@jstam84 glad you figured it out -- I was traveling the past week, sorry for the delayed reply, but that was going to be my first question: you always have to enroll the device in the app so it initializes the devices/settings/etc.

[2022-10-24 14:38] #43 closed

[2022-10-24 14:42] guino commented on #42
@EpicLPer I was in Europe this past week and was able to buy one of these cameras, so I should be able to do some more testing/tweaking to iron out the rooting/setup of this device (after I get myself some EU plug adapters).

[2022-10-24 14:50] EpicLPer commented on #42
It's just 5V, if you have a soldering iron and a spare USB cable you could just snip it and solder it directly to the cam.

[2022-10-24 18:56] RomchikL commented on #44
@guino I use my camera with Home Assistant. If I specify a link to the snap.cgi script, HA use this link for snapshot service. Otherwise HA generates a screenshot from the stream (but there are some unpleasant bugs). Did I understand correctly that your script ([rtsp2jpeg](https://github.com/guino/rtsp2jpeg)) does the same, but for all devices on the local network (via URL)? And is there a contain

[2022-10-24 19:15] guino commented on #44
@RomchikL there are multiple scripts in my rtsp2jpeg project -- if you only want 1 (one) image, you can use ezvizsnap. If you expect yo request multiple images (i.e. a web page which refreshes every few seconds), then you should use ezvizjpegs (as it will start saving snapshots from the rtsp server so multiple requests will work faster).

There's no 'docker' for this stuff but really all you need

[2022-10-24 19:28] guino commented on #37
@OfficialDevvCat

I was in Europe this past week and bought one of each of these cameras:
![cam1](https://camo.githubusercontent.com/31a795202fd64f16ef4a880a7d721f8527bb8e645da4ef442168fe2a0f2fe03b/68747470733a2f2f616374696f6e2e636f6d2f686f737465646173736574732f434d5341727469636c65496d616765732f37322f39362f333230303031395f383731323837393135353036352d3131315f30312e706e67)

![cam2](https://camo.gith

[2022-10-24 19:35] OfficialDevvCat commented on #37
@guino awesome! Thats cool! Where did you find them? I did not try to disassemble the rotsting camera yet because I'm still in the middle of a move. I will be moving permanently this Wednesday. After that I can play around with the rotating camera.

[2022-10-24 22:29] guino commented on #37
@OfficialDevvCat I found them at an 'Action' store -- had to go look at 2 stores to find them. I honestly haven't even powered them on yet but I will likely add them to my TUYA (not LSC) app -- that usually makes a difference as to what firmware updates are available.

[2022-10-24 22:31] EpicLPer commented on #37
Take a dump of it first tho :) Would do one for mine but I know those cams usually don't fully clear passwords or tokens properly.

[2022-10-24 22:34] OfficialDevvCat commented on #37
Only my rotateable cam worked trough tuya instead of LSC app. Idk why. Both app ha e the same update and it didnt update. Was it in the netherlands possibly? I live there btw and also got then from the "action" store

[2022-10-24 22:44] guino commented on #37
@OfficialDevvCat yes, Netherlands. I just added the outdoor camera to the Tuya app and it shows 2.10.22 version in the app --I have auto-upgrade turned off so it never updates without my permission.

[2022-10-24 22:46] OfficialDevvCat commented on #37
Really! Interesting. What camera did you pick from the list?  Cause mine just does not even make the bro sound.

[2022-10-24 22:51] guino commented on #37
@OfficialDevvCat I added it like this:
-clicked + sign on top-left
-selected add device
-selected camera & lock (left side)
-selected 'Smart Camera (Wi-fi)
-followed the prompt to scan QR code while on 2.4Ghz network

That was all!

I also just verified the WebRTC works on this camera (it doesn't on my other cameras) -- it lets me select them and says 'this camera is unavailable on the web, please

[2022-10-24 23:04] OfficialDevvCat commented on #37
@guino hmm okay. I will try again when I moved just to make sure. Do you have the tools to dump the chips? I assume so. Gonna be an interesting development. Also the rtsp stream is without audio sadly. And where in NL were you if I may ask? Did you enjoy the vacation?

[2022-10-31 12:21] OfficialDevvCat commented on #37
@guino Okay I finally moved in and my whole network setup has been installed! I'm ready to do modifications and such! I really want to have audio trough the RTSP stream of the first camera we hacked.

[2022-10-31 14:45] guino commented on #37
@OfficialDevvCat Sorry I haven't had a chance to do much more than plug my cameras in and verify they work -- I want to try and make the hostapd thing work directly (root) then I can focus on the application itself.

[2022-10-31 14:58] OfficialDevvCat commented on #37
@guino Okay, what you mean with the `hostapd`? Is there anything I can help you with?

[2022-10-31 16:06] guino commented on #37
@OfficialDevvCat sorry, hostapd is a file we're using to root the outdoor camera (getting confused here with all the cameras). I'll have to take a look at the code for the indoor camera to see about the RTSP audio.

[2022-11-02 13:27] OfficialDevvCat commented on #37
@guino I just removed the chip from the rotating camera and dumped the chip multiple times. But it is missing data every single time (lots of FF bytes trough the data). `binwalk` also is not able to extract any of the data. I'm kinda stuck at this point.

[2022-11-02 13:49] guino commented on #37
@OfficialDevvCat FF ususally is written to the flash to 'fill in' empty areas, but doesn't necessarily mean something is wrong. If you read the data 2 times and the md5sum matches chances are it is the correct data (assuming nothing is wrong with the chip/hardware). Feel free to post or email me the dump file and I can take a quick look. I have been dealing with other stuff at home so I haven't ha

[2022-11-02 13:53] OfficialDevvCat commented on #37
Okay, so the issue was that I was using a too long of a cable between the reader and the chip. Fixed it by putting it on a board. I dumped the chip and here it is: https://easyupload.io/p2r6ew (Yes it took me 9 dumps in order to get it correct haha). I'm not sure how and all this works cause this is a whole different structure compared to the last camera (Most likely cause it is not updated). But

[2022-11-02 14:27] guino commented on #37
@OfficialDevvCat you can use just 'seek=1835008' instead of oseek= (basically the same parameter renamed). At a quick look the hostapd hack for the outdoor camera may work on this one too. The update process on these cameras seems fairly simple too, you basically create an update.tar file in the SD card with the right files and it will just overwrite the flash section for you, doesn't seem to have

[2022-11-02 14:30] OfficialDevvCat commented on #37
@guino allright! I will try that! I also moved eveything from `squashfs-root-0` to `squasfs-root` and then did the command to creat a new squasfs file. I hope that is fine? Cause it created 2 squasfs folders. Should I then create the new file with the changes I made and reflash it and solder it back on? Or you want me to wait for you to tell me to do something else?

[2022-11-02 15:50] guino commented on #37
@OfficialDevvCat The name of the directory should not matter when building the squash-fs file -- but renaming should be fine. Sorry I'm at work and didn't see your message till now.

I use bs=1 because I'm lazy and don't want to calculate the values based on different block sizes. A higher bs value just makes the dd command 'faster', it doesn't affect the end-result (firmware file). You can send m

[2022-11-02 16:16] OfficialDevvCat commented on #37
I modified it and flashed it. But 2 pins came off like i told u. Im trying to resolder the connections. If that does not work I will get a new one

[2022-11-02 16:18] guino commented on #37
@OfficialDevvCat a lot of times you can 'trace' the connection to a nearby resistor or component around it and solder a new wire to it -- that's what I had to do with one of my devices, but I learned my lesson and will only remove chips with a heat gun now.

[2022-11-02 16:58] OfficialDevvCat commented on #37
@guino Well tbh, idk what the issue is. It does not work. It could be hardware related (due to the 2 missing pins I tried to solder back on). or software related as I did flash a new firmware on the chip. I will be getting a new camera tomorrow (the first model we hacked as that one is better mountable and I do not need a rotatable camera anyway, it was fun to play with the rotatable one).

[2022-11-03 14:05] OfficialDevvCat commented on #37
@guino i have a question. Is it possible to flash the hcked firmware on a new camera of the same model? I assume itis no problem right?

[2022-11-03 14:32] guino commented on #37
@OfficialDevvCat Yes-you can flash the same firmware on multiple cameras IF they are the same exact hardware BUT they will all have the same factory identification (even if the firmware was dumped before phone app registration), which means they can’t be online at the same time or the tuya cloud will likely refuse connection. So if you intend to use all cameras online I would not do it, but if one

[2022-11-03 14:48] guino commented on #37
@OfficialDevvCat I believe there are other backdoors, so I would hold off on the hardware route until I can have a look at it. Sorry it’s been a hectic couple of weeks here.

There’s no easy way to explain what I changed in the main application, but if they’re the same we should be able to just update the main application with the one I modified. Ideally I want to make something that leaves the fi

[2022-11-03 14:53] OfficialDevvCat commented on #37
@guino ofcorse. We do not want to touch the hardware if it is not needed. I will unpack one camera. Connect it trough the app and NOT update it and check for ports. That is all I can do atm without updating.

It's allright. Sometimes we have a hectic life haha. I will keep u updated as soon as I have some more info avout the camera

[2022-11-03 18:26] OfficialDevvCat commented on #37
@guino I just found a HUGE thing. I connected my camera and looked for ports. Port `80` was open. And in the dumped firmware file it said something about port `80` being used as a RTSP proxy. I opened VLC and connected to `rtsp://192.168.1.146:80/main` and it worked! WOW!

[2022-11-03 18:30] guino commented on #37
@OfficialDevvCat that's with the hacked firmware or just the default one ?

[2022-11-03 18:33] EpicLPer commented on #37
Tried this on mine without the SD Card and it sadly doesn't work.

[2022-11-03 18:56] OfficialDevvCat commented on #37
Are you 100% sure? What firmware version is it on?

[2022-11-03 19:07] OfficialDevvCat commented on #37
Okay @guino @EpicLPer I just found the password of the camera's it is `dgiot010` as stated on https://github.com/mstanislav/phd-dissertation/blob/main/Camera%20Credentials.md this page! Success! Now I need to figure out if I can actually get telnet to open port `23`. Cause it does not want to do that with the `product.cof` file...

[2022-11-03 20:41] OfficialDevvCat commented on #37
@guino How did you patched the `ppsapp` in `dgiot`?

[2022-11-03 20:55] guino commented on #37
@OfficialDevvCat for 7.6.32 firmware, on dgiot I only changed the code to make it force call the RTSPSTART function in their code:
[code]
@OfficialDevvCat awesome news on telnet! I'll try with mine later.

[2022-11-03 21:05] OfficialDevvCat commented on #37
@guino the `dgiot` file is located in `/usr/bin/dgiot`. How are we able to replace that file because `/usr` is read only cause the squashfs is read only!

[2022-11-03 21:09] guino commented on #37
@OfficialDevvCat the dgiot file in the flash can only be modified by hardware programmer or by an upgrade file - I provided a modified flash dump with it changed, but If Telnet access is enabled I would Telnet into it, then kill the dgiot running (from flash) and run a modified version from the SD card (like we do other devices).

[2022-11-03 21:15] OfficialDevvCat commented on #37
@guino We tried killing `dgiot` but that made it restart cause the `daemon` does that. Killing `daemon` and then `dgiot` does not work eighter.

[2022-11-03 21:35] guino commented on #37
@OfficialDevvCat if you haven't tried yet, I'd try doing it in a script to (hopefully) be fast enough to prevent a restart of it by the deamon.

[2022-11-03 21:42] OfficialDevvCat commented on #37
@guino I tried this in the `/mnt` folder (SD card)
[code]
and still it rebooted...

[2022-11-04 03:19] guino commented on #37
@OfficialDevvCat I just now tried product.conf with the indoor camera (stock firmware 7.6.32) and got telnet to enable, so that's confirmation that we can easily root the indoor camera. Now I will see if I can get dgiot to run.

[2022-11-04 06:13] aleksandersmolowik commented on #37
I have camera with original firmware v7.6.32 and `rtsp://IP_OF_CAMERA:80/main` works!

[2022-11-04 09:34] OfficialDevvCat commented on #37
@guino try the port 80 rtsp first. Then the second issue is that there is no sound on the rtsp stream... it sucks so much....

[2022-11-04 12:25] desiue opened #45 "ppsapp patch request"
hi i have also one of the LSC cams.

Some things are different.
Password is admin.
The and the result of  http://192.168.x.x:8090/proc/self/root/tmp/hack is
`Thu Jan  1 08:00:13 CST 1970`
Telnet is working.

RTSP server is not running `rtsp://192.168.x.x:8554//Streaming/Channels/101`

MD5 of then SD:\home\app\ppsapp file is MD5: c83e0ba3db47c1e54a11a915e19e8e08
So it doesn't match with the List of

[2022-11-04 12:27] desiue commented on #45
[ppsapp.zip](https://github.com/guino/Merkury1080P/files/9938169/ppsapp.zip)

could you please, if you have time, patch my file?
Thanks a lot

[2022-11-04 14:57] guino commented on #45
@desiue when you said RTSP server is not running, did you modify tuya_config.json to enable ONVIF (which enables RTSP) ? you can just execute this command in telnet to enable it: `/mnt/mmc01/set onvif_enable 1` -- then wait 30 seconds and reboot the device to make it effective.

[2022-11-04 15:05] guino commented on #37
@OfficialDevvCat RTSP does work by default on port 80 and 8554 for me (without any patching or even SD card). The only issue is no audio (as mentioned), looking at their code it simply doesn't seem to be doing any audio streaming on the RTSP feeds (rtsp://IP:8554/main and /sub) -- I'm not sure there's much we can do about that but I'll try to inspect the ONVIF information to see if I find anything

[2022-11-04 15:06] EpicLPer commented on #37
Seems the newest update removed that then, damn...

[2022-11-04 15:07] OfficialDevvCat commented on #37
What version are you on if I may ask?

[2022-11-04 15:10] OfficialDevvCat commented on #37
@guino I could do some weird hackery stuff by using WebRTC. But so far the quality is SD and did not yet find a way to change it to HD. Maybe we could create a small script on the sd that transmits audio to a different stream. But I have no C knowlage at all and also do not even know where to start. This camera seems to be a big pain in the ass....

[2022-11-04 16:40] desiue commented on #45
oh so easy? unbelievable!
Now its works with VLC - open Network and then: rtsp://admin:admin@192.168.x.x:8554/Streaming/Channels/101

[code]

One more question. I want to live stream directly to youtube. Its that possible directly from the cam?

For example i stream with    ffmpeg -some parameters- direct to rtmps://a.rtmps.youtube.com/live2/xxx-xxxx-xxxxx-xxxx-xxxxx

[2022-11-04 18:01] guino commented on #45
@desiue I've never done it, but I saw something like:
[code]

[2022-11-04 18:21] guino commented on #37
@OfficialDevvCat my indoor camera feed on the WebRTC can be toggled between SD/HD on the web interface (overlay buttons on the image), if there is a way to provide RTSP using the webrtc I think it's definitely worth having -- I just don't know how much time it would take to get that solution working well.

[2022-11-04 18:25] OfficialDevvCat commented on #37
@guino i cloned a official tuya repository that creates a webserver and websocket to access the camera. It does work but still not able to switch to hd. Still trying that out. Im not sure if it creates a local rtsp stream or it gets one from the tuya cloud. It would be very usefull if it creates a local rtsp stream. I will see what I can do! :)

[2022-11-10 19:35] jonesMeUp commented on #42
My colleague bought this device today. He also has 2.10.36, but the app wants to update to 4.8.8
I told him not to do the update and wait for your progress here, becaue I think a newer version will make more trouble.
So another one is awaiting a solution for breaking the china chain.

I really learned a lot from this project, but there is so much left to learn...

[2022-11-11 01:16] markgruenke commented on #41
Got it figured out! For whatever reason, I needed to not use the ppsfactorytool when booting the camera. I changed the custom.sh file to allow unpassworded telnet and removed the "#" from the onvif enable line, and that seemed to do evrything i needed. It opened all the ports, including telnet and set onvif enable to 1. So, for whatever reason, I did not need the facotytool to boot from my sd card

[2022-11-12 02:39] guino commented on #37
@OfficialDevvCat I'm writing up some information on this device for future reference and as a guide for anyone that has this (or similar) device. I intend to add two options for using motion detect notifications (mqtt) with/without changes to the firmware. Without changing the firmware the only option for this device is to make a script (to be run on a separate machine) that logs in by telnet and

[2022-11-12 02:43] guino commented on #42
@jonesMeUp we have an exploit for this device but it needs tweaking and some work before making it available. I have the device in hands so I should be able to do some testing and publish it when it's working well.

[2022-11-12 02:47] guino commented on #41
@markgruenke I'm not familiar with that geeni device. While it looks very much like the Merkury720P (outside) it must be different inside since it is a 1080P device. You should check the firmware version in the phone app and if it matches any of the firmware versions I listed above it won't hurt to try.

[2022-11-12 18:13] jonesMeUp commented on #42
**Super**
Will it be for 2.10.36 only, or will there also be a hack for 4.8.8?
(I think 2.10.36 will be replaced in the store soon)
thx!

[2022-11-12 21:19] guino commented on #42
@jonesMeUp I have 2.10.36, so that's what I'll work on first. If my device can be upgraded to 4.8 later I can look into it as well.

[2022-11-13 20:53] guino commented on #37
This is the initial information for this device: https://github.com/guino/LSC1080P -- my device is currently bricked from trying to flash changes from telnet. I'll wait for my heat gun to arrive so I can repair and try some more stuff from telnet.

[2022-11-13 21:17] mikonline commented on #42
Bought three of these cameras without doing any research before. Can't wait for this exploit :)

[2022-11-16 23:15] guino commented on #42
So I have an interesting development on this device... I spent hours yesterday trying to replicate the hack we did on EpicLPer's device without success. Only then I realized my device is running older firmware (2.10.22) -- so I backtracked on other exploits that didn't work on his device and one of them worked on both my Outdoor camera (2.10.22 firmware) and on my Rotating camera (2.10.28 firmware

[2022-11-16 23:49] mikonline commented on #42
It works. I am able to telnet into the camera:

☁  ~  telnet 192.168.201.77
Trying 192.168.201.77...
Connected to 192.168.201.77.
Escape character is '^]'.

anyka login: root
Password:
welcome to file system
[root@anyka ~]$
[root@anyka ~]$
[root@anyka ~]$ ls
bin      data     dev      etc      lib      linuxrc  mnt      proc     sbin     sys      tmp      usr      var
[root@anyka ~]$

[2022-11-16 23:52] qba89 commented on #42
Hello, first, I would like to thank you for the work you put into this, which brings results.

Core Module: V2.10.36
MCU module: V2.10.36
Telnet access
FTP access
Works from the phone app too

[2022-11-16 23:54] guino commented on #42
@mikonline just to confirm: your firmware is 2.10.36 ?
@qba89 Thanks for posting your positive results.

[2022-11-16 23:54] mikonline commented on #42
@guino Yes 2.10.36

[2022-11-18 12:20] desiue commented on #45
ffmpeg -i rtsp://admin:admin@192.168.6.143:8554/Streaming/Channels/101 -vcodec copy -acodec aac -f flv rtmps://a.rtmps.youtube.com/live2/xxxxxxxxxxx

works very well. my idea was to stream directly from the camera to youtube without detours.

unfortunately there was another burglary yesterday in the house. Therefore, I have now set the focus on the alarm. is there a way to send a mail or message w

[2022-11-18 15:28] guino commented on #45
@desiue have a look at this wiki: https://github.com/guino/BazzDoorbell/wiki/%5BHow-to%5D-Use-notifications-MQTT-log_parser-without-a-patched-ppsapp-%3F -- this script detects motion and sends out a message using mqtt, it can be modified to send a web request to trigger some other alert.  The example uses mqtt because it is meant to integrate with home assistant or any other software that is going

[2022-11-18 17:50] guino commented on #45
@desiue there's no tool within the device that will work with httpS right now -- that's why I suggested ifttt as it supports both httpS and http (as shown in my example). If your service doesn't support http (only httpS) then your options are:
1-Find a version of wget/curl for ARMv5 that has httpS support and was compiled with uclibc OR statically compiled and place it in the SD card so you can us

[2022-11-18 20:45] McPrapor commented on #42
Can confirm telnet works for LSC Smart Connect rotatable camera as well. Any clue how to get rtsp from it?

[2022-11-18 23:31] guino commented on #42
@McPrapor I have a LSC rotating camera on 2.10.28 -- can you confirm the firmware on yours ?

I just finalized what we need to run our scripts from the device without needing to modify the flash or use telnet.
The next step is putting in the right set of tools in it (busybox, telnet, upload, download) and allowing to use a main application from the SD card, only then I can start looking into patch

[2022-11-19 07:53] McPrapor commented on #42
I have 2.10.28. It offered me upgrade to some newer version, but I
rejected. Interesting fact, with the 2file fix above it says now there are
no updates available.

On Sat, Nov 19, 2022, 00:31 Wagner ***@***.***> wrote:

[2022-11-19 11:59] desiue commented on #45
ok i think the easy way will be wget to IFTTT and then to Pushsafer.
I take a look in my custom.sh

`#!/bin/sh
if [ ! -e /tmp/customrun ]; then
 echo custom > /tmp/customrun
 cp /mnt/mmc01/passwd /etc/passwd
 /mnt/mmc01/busybox telnetd -l /bin/sh
 /mnt/mmc01/busybox httpd -c /mnt/mmc01/httpd.conf -h /mnt/mmc01 -p 8080
 if [ -e /mnt/mmc01/ppsapp ]; then
  PPSID=$(ps | grep -v grep | grep ppsapp | a

[2022-11-19 13:37] desiue commented on #45
ok
i have added   `/mnt/mmc01/ppsapp 2>&1 | /mnt/mmc01/log_parser.sh & `

to the custom.sh on the SD Card / .
[code]

And created log_parser.sh with
[code]

This command
`/mnt/mmc01/busybox wget -O- http://maker.ifttt.com/trigger/motion/json/with/key/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`

works over telnet but the scripts dosen't work.

did you have any ideas or hints?

[2022-11-19 14:38] desiue commented on #45
so i tried ` /mnt/mmc01/log_parser.sh /mnt/mmc01/output.log < /tmp/log &`
and
` cat /tmp/log`

so im tgiggering motion an looking for evenets on the log

`======send packet 1  368
tx data failed!
 -1 != 1456
[15:36:20.097 ERR rtsp_demo.c:1501]err_cnt = 1
======send packet 1  368
[15:36:22.622 INFO pps_tuya_netmng.c:669]WIFI[0] Get IP:192.168.6.143
[11-19 15:36:25:297 TUYA Debug][tuya_ipc_p2p.c:427

[2022-11-19 16:19] desiue commented on #45
juhu i got it

in the custom.sh on the SD Card / has to be something like this
`  /mnt/mmc01/ppsapp 2>&1 | /mnt/mmc01/log_parser.sh &`

and i dont have any messages in /mnt/mmc01/output.log
so i have changed the /mnt/mmc01/output.log to /tmp/log
in the log_parser.sh

and the "--motion detection alarm --" to

"notification_message_upload"

[2022-11-19 17:36] guino commented on #45
@desiue post a zip of your SD card contents without the SDT folder so I can review.. You don't need a patched ppsapp so you should not have one in the SD card anyway -- you should be using the information here: https://github.com/guino/BazzDoorbell/wiki/%5BHow-to%5D-Use-notifications-MQTT-log_parser-without-a-patched-ppsapp-%3F

[2022-11-20 01:10] OfficialDevvCat commented on #37
Oh no. Sorry its been a while. I didn't see the notitication 6 days ago. Well I hope you're able to repair the device (most likely will) but you also should be adding to the cons in the repo that sound is not being transmitted trough RTSP. I'm willing to give C a try to create a audio stream but I will most likely fail in that as C is super hard to learn. Maybe there is some other way to do it wit

[2022-11-21 08:17] desiue commented on #45
but I don't think it works quite reliably now. Maybe I have configured something wrong, attached the files.
[LSC_Cam_20221121.zip](https://github.com/guino/Merkury1080P/files/10054613/LSC_Cam_20221121.zip)

Unfortunately I have the problem that Pushsafer wants money for the messages.
I have already bought the license from Pushover.
Unfortunately I come back to the https problem.

I don't think I c

[2022-11-21 08:58] desiue commented on #45
did you make it to play an sound? i tried it with

[code]

but I hear nothing

[2022-11-24 02:31] guino commented on #37
@OfficialDevvCat I thought the audio was working on the RTSP feed -- I honestly didn't double check before my device died (no success in fixing it). Without a working device it will be hard to try and patch the application to see if we can get the audio working.

[2022-11-24 03:04] guino commented on #45
@desiue your SD card files seem fine assuming you don't have a ppsapp file in the root of the SD card.

I have not been able to find a version of curl/wget with httpS support pre-compiled for armv5. The version you found is in fact the wrong version and that's why you get the 'Illegal instruction' error -- it likely was compiled for armv7 (which is the most common).

The simplest solution would be

[2022-11-24 03:06] OfficialDevvCat commented on #37
Audio is only working on the webrtc stream. Not the rtsp feed. Again, we could do this trough discord call if u want to? That would make it a lot more easy!

[2022-11-24 04:10] guino commented on #37
We could try discord/telegram -- I am traveling until the 30th then we can look into it, really wishing my device didn't die.

[2022-11-24 07:34] tosiara opened #46 "Firmware 5.2.1 OEM device MINI7S-A5MB_F37 REV 1_0 2021-06-11"
Hey, I will start a thread here with all my findings about a similar device

`MINI7S-A5MB_F37 REV 1_0 2021-06-11`

![image](https://user-images.githubusercontent.com/3600973/203720940-5ef9dd5f-be3e-491e-9e5b-73c3e715f8c2.png)

UART boot log:

[code]

[2022-11-24 07:58] tosiara commented on #46
Cannot interrupt u-boot autoboot sequence, pressing any kay has no effect

Tried to change load address to `80008000` in both `env` and `ppsMmcTool.txt` - the device boots unrooted. `/proc/cmdline` output does not contain the hack traces:

[code]

[2022-11-24 09:15] tosiara commented on #46
When booting with the hack microSD card I see this output:
[code]

[2022-11-24 10:21] tosiara commented on #46
With a different brand microSD card:

[code]

[2022-11-24 11:51] tosiara commented on #46
Also sharing my device info:
[code]

[2022-11-25 15:00] desiue commented on #45
I tried it with this command. i can't hear anything. do you have to unmute previously it?

`/ # /mnt/mmc01/cgi-bin/play.cgi /home/sound/dingdong.wav
Content-type: text/plain

4+0 records in
4+0 records out
4 bytes (4B) copied, 0.000611 seconds, 6.4KB/s
25+0 records in
25+0 records out
25 bytes (25B) copied, 0.002803 seconds, 8.7KB/s
1+0 records in
1+0 records out
1 bytes (1B) copied, 0.000323 seco

[2022-11-25 18:37] guino commented on #37
@OfficialDevvCat good news: my friend visiting from Netherlands happened to have/bring one of the indoor cameras with him so I should be able to mess with the main application to try and make the RTSP audio work again -- I don't plan to mess with the flash though.

[2022-11-25 18:42] OfficialDevvCat commented on #37
@guino cool! Awesome. Let me know if you found anything on the audio part or something else. Getting audio work would be AMAZING! Let me know if i can do anything

[2022-11-29 10:50] tosiara commented on #46
Slightly different error after changing address in ppsMmcTool.txt:
[code]

[2022-11-29 12:55] tosiara commented on #46
Followed this manual to dump the flash: https://github.com/guino/BazzDoorbell/issues/11
Updated addresses to `82008000`
[code]